<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.3/angular-route.min.js"></script>
<script>
var app = angular.module("myApp", ["ngRoute"]);
app.config(function($routeProvider) {
  $routeProvider
  .when("/", {
    template : '<div><h2>HOME</h2><p>lorem ipsum dolor sit amet</p></div>'
  })
  .when("/link", {
    template : '<div><h2>LINK</h2><a href="#" data-<%= prefix %>-analytics-click="libellé du lien envoyé à l\'analytics" id="link-attr-click">test</a></div>'
  })
  .when("/button", {
    template : '<div><h2>BUTTON</h2><button id="btn-3" class="<%= prefix %>-btn">Button</button></div>'
  });
});
</script>

<div ng-app="myApp">

  <header role="banner" class="webfastoche-header" id="header-120">
    <div class="webfastoche-header__body">
        <div class="webfastoche-container">
            <div class="webfastoche-header__body-row">
                <div class="webfastoche-header__brand webfastoche-enlarge-link">
                    <div class="webfastoche-header__brand-top">
                        <div class="webfastoche-header__logo">
                            <p class="webfastoche-logo">
                                République <br/>
                                Française
                            </p>
                        </div>
                        <div class="webfastoche-header__navbar">
                            <button class="webfastoche-btn--search webfastoche-btn" data-webfastoche-opened="false" aria-controls="modal-122" id="button-123" title="Rechercher" >
                                Rechercher
                            </button>
                            <button class="webfastoche-btn--menu webfastoche-btn" data-webfastoche-opened="false" aria-controls="modal-124" id="button-125" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="webfastoche-header__service">
                        <a href="/" title="Accueil - [À MODIFIER - Nom du site / service] - [À MODIFIER - texte alternatif de l’image : nom de l'opérateur ou du site serviciel] - République Française">
                            <p class="webfastoche-header__service-title">
                                Nom du site / service
                            </p>
                        </a>
                        <p class="webfastoche-header__service-tagline">baseline - précisions sur l‘organisation</p>
                    </div>
                </div>
                <div class="webfastoche-header__tools">
                    <div class="webfastoche-header__tools-links">
                        <ul class="webfastoche-btns-group">
                            <li>
                              <a id="to-home-1" class="webfastoche-btn" href="#!">HOME</a>
                            </li>
                        </ul>
                    </div>
                    <div class="webfastoche-header__search webfastoche-modal" id="modal-122">
                        <div class="webfastoche-container webfastoche-container-lg--fluid">
                            <button class="webfastoche-btn--close webfastoche-btn" aria-controls="modal-122" id="button-130" title="Fermer">
                                Fermer
                            </button>
                            <div class="webfastoche-search-bar" id="search-121" role="search">
                                <label class="webfastoche-label" for="search-121-input">
                                    Rechercher
                                </label>
                                <input class="webfastoche-input" aria-describedby="search-121-input-messages" placeholder="Rechercher" id="search-121-input" type="search"/>
                                <div class="webfastoche-messages-group" id="search-121-input-messages" aria-live="polite">
                                </div>
                                <button class="webfastoche-btn" id="search-btn-132" title="Rechercher">
                                    Rechercher
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="webfastoche-header__menu webfastoche-modal" id="modal-124">
      <div class="webfastoche-container">
        <button class="webfastoche-btn--close webfastoche-btn" aria-controls="modal-2414" id="button-2419" title="Fermer">
            Fermer
        </button>
        <div class="webfastoche-header__menu-links">
            <ul class="webfastoche-btns-group">
            </ul>
        </div>
        <nav class="webfastoche-nav" id="navigation-134" role="navigation" aria-label="Menu principal">
          <ul class="webfastoche-nav__list">
            <li class="webfastoche-nav__item"><a id="to-home-2" class="webfastoche-nav__link" href="#!">HOME</a></li>
            <li class="webfastoche-nav__item"><a id="to-link-2" class="webfastoche-nav__link" href="#!link">Link</a></li>
            <li class="webfastoche-nav__item"><a id="to-button-2" class="webfastoche-nav__link" href="#!button">Button</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div ng-view></div>
</div>