////
/// Navigation Scheme : Nav
/// @group navigation
////

@use 'module/color';
@use 'module/selector';

@mixin _navigation-scheme-nav($legacy: false) {
  #{ns(nav)} {
    &__list {
      @include color.background(contrast fastoche-secondary, (legacy: $legacy));
    }

    &__link,
    &__btn {
      @include color.text(action-high grey, (legacy: $legacy));

      @include selector.current {
        @include color.text(active fastoche-primary, (legacy: $legacy));
        @include before {
          @include color.background(active fastoche-primary, (legacy: $legacy));
        }
      }
    }

    &__btn {
      &[aria-expanded="true"]:not(:disabled) {
        @include color.background(open fastoche-primary, (legacy: $legacy));
        @include color.text(action-high fastoche-primary, (legacy: $legacy));
      }
    }

    @include list-item {
      @include before {
        @include color.box-shadow(default grey, (legacy:$legacy), top-1-out bottom-1-in);
      }

      &:first-child {
        @include before {
          @include color.box-shadow(default grey, (legacy:$legacy), bottom-1-in);
        }
      }

      &:last-child {
        @include before {
          @include color.box-shadow(default grey, (legacy:$legacy), top-1-out);
        }
      }
    }
  }
}
