@use 'options';

$focus: #0a76f6;
$absolute-black: #000;
$black: nth(map-get(options.$values, grey-50), 1);
$black-a0: rgba(nth(map-get(options.$values, grey-50), 1), 0);
$black-a64: rgba(nth(map-get(options.$values, grey-50), 1), 64%);
$white: nth(map-get(options.$values, grey-1000), 1);
$cfran-primary: nth(map-get(options.$values, cfran-primary-main), 1);
$cfran-secondary: nth(map-get(options.$values, cfran-secondary-main), 1);
$cfran-color6: nth(map-get(options.$values, cfran-color6-sun), 1);
$cfran-color10: nth(map-get(options.$values, cfran-color10-main), 1);
