@use "../../selector/function/namespace";
@use "../../selector/tool/pseudo";
@use "../../spacing/tool/position";
@use "../../spacing/tool/z-index";
@use "../tool/hover";

////
/// Core Module : Action enlarge link
/// @group core
////

#{namespace.ns(enlarge-link)} {
  position: relative;

  a {
    background-image: none;
    outline-width: 0;
    @include pseudo.before('', block) {
      @include position.absolute(0, 0, 0, 0, 100%, 100%);
      outline-offset: 2px;
      outline-style: inherit;
      outline-color: inherit;
      outline-width: 2px;
      @include z-index.z-index(over);
    }
  }

  @include hover.hover-media-query {
    a {
      &:hover,
      &:active {
        background: none;
      }
    }

    &:hover {
      background-color: var(--hover);
    }

    &:active {
      background-color: var(--active);
    }
  }
}
