@use "../../selector/function/namespace";
@use "../../selector/tool/icon";
@use "../../selector/tool/pseudo";
@use "../tool/link";

////
/// Core Module : Action link
/// @group core
////

a {
  @include link.a-reset;
}

:root {
  @include link.init-underline;
  @include link.enable-underline;
  @include link.enable-external;

  --text-decoration: none;
}

// TODO: à checker avec <area href="" >
[href] {
  @include link.link-underline;
}

@include link.target-blank {
  @include link.external-link;

  @include icon.has-icon {
    @include link.external-link;
  }
}

form {
  @include link.target-blank(true) {
    @include pseudo.after(none);
  }
}

#{namespace.ns(raw-link)} {
  --text-decoration: none;

  &[href],
  [href] {
    @include link.disable-underline;
    @include link.disable-external;
  }
}

#{namespace.ns(reset-link)} {
  --text-decoration: underline;

  &[href],
  [href] {
    @include link.disable-underline;
    text-underline-offset: 2px;
  }
}
