node_modules/
public/
.config/
.vscode/
/dist/
/example/
/standalone/
/designsystem/dist/
/designsystem/dist-build/
/designsystem/dist-release/
/designsystem/example/
/designsystem/standalone/
/storybook/

dsfr-sb/*storybook.log
dsfr-sb/storybook-static/

.DS_Store
