$fastoche-primary-hue: 122;
$fastoche-secondary-hue: 212;
$fastoche-color3-hue: 249;
$fastoche-color4-hue: 249;
$fastoche-color5-hue: 249;
$fastoche-color6-hue: 249;
$fastoche-color7-hue: 34;
$fastoche-color8-hue: 34;
$fastoche-color9-hue: 34;
$fastoche-color10-hue: 100;
$fastoche-color11-hue: 105;
$fastoche-color12-hue: 115;
$fastoche-color13-hue: 135;
$fastoche-color14-hue: 145;
$fastoche-color15-hue: 155;
$fastoche-color16-hue: 165;
$fastoche-color17-hue: 175;
$fastoche-color18-hue: 185;
$fastoche-color19-hue: 195;
$fastoche-color20-hue: 230;
// Chaque couleur est définie suivant ce modèle :
// [color-name]-[grade]: [hex] [hue] [saturation] [lightness]; Les valeurs sont principal, hover, active,
$values: (
  // grey
  grey-0: #000,
  grey-50: #161616 #343434 #474747,
  grey-75: #1e1e1e #3f3f3f #525252,
  grey-100: #242424 #474747 #5b5b5b,
  grey-125: #2a2a2a #4e4e4e #636363,
  grey-150: #2f2f2f #545454 #696969,
  grey-175: #353535 #5c5c5c #717171,
  grey-200: #3a3a3a #616161 #777,
  grey-425: #666 #919191 #a6a6a6,
  grey-625: #929292 #bbb #cecece,
  grey-850: #cecece #a8a8a8 #939393,
  grey-900: #ddd #bbb #a7a7a7,
  grey-925: #e5e5e5 #c5c5c5 #b2b2b2,
  grey-950: #eee #d2d2d2 #c1c1c1,
  grey-975: #f6f6f6 #dfdfdf #cfcfcf,
  grey-1000: #fff #f6f6f6 #ededed,
  grey-main: #7b7b7b #a6a6a6 #bababa #a6a6a6 #bababa,
  // fastoche-primary
  fastoche-primary-75: hsl($fastoche-primary-hue, 20%, 7%) hsl($fastoche-primary-hue, 20%, 12%) hsl($fastoche-primary-hue, 30%, 15%),
  fastoche-primary-100: hsl($fastoche-primary-hue, 20%, 10%) hsl($fastoche-primary-hue, 22%, 13%) hsl($fastoche-primary-hue, 33%, 18%),
  fastoche-primary-125: hsl($fastoche-primary-hue, 33%, 13%) hsl($fastoche-primary-hue, 40%, 65%) hsl($fastoche-primary-hue, 45%, 65%),
  fastoche-primary-200: hsl($fastoche-primary-hue, 45%, 20%) hsl($fastoche-primary-hue, 50%, 25%) hsl($fastoche-primary-hue, 60%, 30%),
  fastoche-primary-625: hsl($fastoche-primary-hue, 80%, 65%) hsl($fastoche-primary-hue, 60%, 65%) hsl($fastoche-primary-hue, 90%, 65%),
  fastoche-primary-850: hsl($fastoche-primary-hue, 80%, 85%) hsl($fastoche-primary-hue, 60%, 65%) hsl($fastoche-primary-hue, 90%, 65%),
  fastoche-primary-925: hsl($fastoche-primary-hue, 80%, 93%) hsl($fastoche-primary-hue, 60%, 65%) hsl($fastoche-primary-hue, 90%, 65%),
  fastoche-primary-950: hsl($fastoche-primary-hue, 80%, 96%) hsl($fastoche-primary-hue, 60%, 65%) hsl($fastoche-primary-hue, 90%, 65%),
  fastoche-primary-975: hsl($fastoche-primary-hue, 80%, 98%) hsl($fastoche-primary-hue, 60%, 65%) hsl($fastoche-primary-hue, 90%, 65%),
  fastoche-primary-sun: hsl($fastoche-primary-hue, 75%, 25%) hsl($fastoche-primary-hue, 60%, 20%) hsl($fastoche-primary-hue, 40%, 15%),
  fastoche-primary-moon: hsl($fastoche-primary-hue, 80%, 75%) hsl($fastoche-primary-hue, 60%, 75%) hsl($fastoche-primary-hue, 40%, 75%),
  fastoche-primary-main: hsl($fastoche-primary-hue, 85%, 25%) hsl($fastoche-primary-hue, 60%, 15%) hsl($fastoche-primary-hue, 40%, 15%) hsl($fastoche-primary-hue, 60%, 15%) hsl($fastoche-primary-hue, 40%, 15%),
  // fastoche-secondary
  fastoche-secondary-75: hsl($fastoche-secondary-hue, 20%, 7%) hsl($fastoche-secondary-hue, 20%, 12%) hsl($fastoche-secondary-hue, 30%, 15%),
  fastoche-secondary-100: hsl($fastoche-secondary-hue, 20%, 10%) hsl($fastoche-secondary-hue, 22%, 13%) hsl($fastoche-secondary-hue, 33%, 18%),
  fastoche-secondary-125: hsl($fastoche-secondary-hue, 33%, 13%) hsl($fastoche-secondary-hue, 40%, 65%) hsl($fastoche-secondary-hue, 45%, 65%),
  fastoche-secondary-200: hsl($fastoche-secondary-hue, 45%, 20%) hsl($fastoche-secondary-hue, 50%, 25%) hsl($fastoche-secondary-hue, 60%, 30%),
  fastoche-secondary-425: hsl($fastoche-secondary-hue, 45%, 43%) hsl($fastoche-secondary-hue, 50%, 50%) hsl($fastoche-secondary-hue, 60%, 50%),
  fastoche-secondary-625: hsl($fastoche-secondary-hue, 80%, 65%) hsl($fastoche-secondary-hue, 60%, 65%) hsl($fastoche-secondary-hue, 90%, 65%),
  fastoche-secondary-850: hsl($fastoche-secondary-hue, 80%, 85%) hsl($fastoche-secondary-hue, 60%, 65%) hsl($fastoche-secondary-hue, 90%, 65%),
  fastoche-secondary-925: hsl($fastoche-secondary-hue, 80%, 93%) hsl($fastoche-secondary-hue, 60%, 65%) hsl($fastoche-secondary-hue, 90%, 65%),
  fastoche-secondary-950: hsl($fastoche-secondary-hue, 80%, 96%) hsl($fastoche-secondary-hue, 60%, 65%) hsl($fastoche-secondary-hue, 90%, 65%),
  fastoche-secondary-975: hsl($fastoche-secondary-hue, 80%, 98%) hsl($fastoche-secondary-hue, 60%, 65%) hsl($fastoche-secondary-hue, 90%, 65%),
  fastoche-secondary-sun: hsl($fastoche-secondary-hue, 75%, 25%) hsl($fastoche-secondary-hue, 60%, 20%) hsl($fastoche-secondary-hue, 40%, 15%),
  fastoche-secondary-moon: hsl($fastoche-secondary-hue, 80%, 75%) hsl($fastoche-secondary-hue, 60%, 75%) hsl($fastoche-secondary-hue, 40%, 75%),
  fastoche-secondary-main: hsl($fastoche-secondary-hue, 85%, 25%) hsl($fastoche-secondary-hue, 60%, 15%) hsl($fastoche-secondary-hue, 40%, 15%) hsl($fastoche-secondary-hue, 60%, 15%) hsl($fastoche-secondary-hue, 40%, 55%),
  // info
  info-75: #171d2e #333e5c #445177,
  info-100: #1d2437 #3b4767 #4c5b83,
  info-125: #222a3f #414e71 #53638d,
  info-200: #273961 #45619f #5576c0,
  info-425: #0063cb #3b87ff #6798ff,
  info-625: #518fff #98b4ff #b4c7ff,
  info-850: #bccdff #83a9ff #5f96ff,
  info-925: #dde5ff #b1c6ff #95b4ff,
  info-950: #e8edff #c2d1ff #a9bfff,
  info-975: #f4f6ff #d6deff #c2cfff,
  info-main: #0078f3 #6196ff #85a9ff #6196ff #85a9ff,
  // success
  success-75: #142117 #2e4533 #3d5943,
  success-100: #19271d #344c3b #44624d,
  success-125: #1e2e22 #3b5541 #4b6b53,
  success-200: #204129 #3a6d48 #478558,
  success-425: #18753c #27a959 #2fc368,
  success-625: #27a658 #36d975 #3df183,
  success-850: #3bea7e #2cb862 #259e53,
  success-925: #88fdaa #3ee87e #36d070,
  success-950: #b8fec9 #46fd89 #34eb7b,
  success-975: #dffee6 #8afcab #4efb8d,
  success-main: #1f8d49 #2ec166 #36db75 #2ec166 #36db75,
  // warning
  warning-75: #2d1814 #5b352e #75473e,
  warning-100: #361e19 #663d35 #824f44,
  warning-125: #3e231e #70433b #8d564c,
  warning-200: #5d2c20 #9a4d3a #bc5f49,
  warning-425: #b34000 #ff6218 #ff7a55,
  warning-625: #fc5d00 #ff8c73 #ffa595,
  warning-850: #ffbeb4 #ff8e77 #ff7550,
  warning-925: #ffded9 #ffb6a9 #ff9f8b,
  warning-950: #ffe9e6 #ffc6bd #ffb0a2,
  warning-975: #fff4f3 #ffd7d3 #ffc4bd,
  warning-main: #d64d00 #ff754e #ff8e76 #ff754e #ff8e76,
  // error
  error-75: #301717 #603434 #7c4444,
  error-100: #391c1c #6c3a3a #894b4b,
  error-125: #412121 #764040 #935252,
  error-200: #642626 #a74545 #cb5555,
  error-425: #ce0500 #ff2725 #ff4140,
  error-625: #ff5655 #ff8c8c #ffa6a6,
  error-850: #ffbdbd #ff8c8c #ff7272,
  error-925: #fdd #ffb4b4 #ff9c9c,
  error-950: #ffe9e9 #ffc5c5 #ffafaf,
  error-975: #fff4f4 #ffd7d7 #ffc3c3,
  error-main: #f60700 #ff3634 #ff5150 #ff3634 #ff5150,
  // fastoche-color3-
  fastoche-color3-75: hsl($fastoche-color3-hue, 20%, 7%) hsl($fastoche-color3-hue, 20%, 12%) hsl($fastoche-color3-hue, 30%, 15%),
  fastoche-color3-100: hsl($fastoche-color3-hue, 20%, 10%) hsl($fastoche-color3-hue, 22%, 13%) hsl($fastoche-color3-hue, 33%, 18%),
  fastoche-color3-125: hsl($fastoche-color3-hue, 33%, 13%) hsl($fastoche-color3-hue, 40%, 65%) hsl($fastoche-color3-hue, 45%, 65%),
  fastoche-color3-200: hsl($fastoche-color3-hue, 45%, 20%) hsl($fastoche-color3-hue, 50%, 25%) hsl($fastoche-color3-hue, 60%, 30%),
  fastoche-color3-625: hsl($fastoche-color3-hue, 80%, 65%) hsl($fastoche-color3-hue, 60%, 65%) hsl($fastoche-color3-hue, 90%, 65%),
  fastoche-color3-850: hsl($fastoche-color3-hue, 80%, 85%) hsl($fastoche-color3-hue, 60%, 65%) hsl($fastoche-color3-hue, 90%, 65%),
  fastoche-color3-925: hsl($fastoche-color3-hue, 80%, 93%) hsl($fastoche-color3-hue, 60%, 65%) hsl($fastoche-color3-hue, 90%, 65%),
  fastoche-color3-950: hsl($fastoche-color3-hue, 80%, 96%) hsl($fastoche-color3-hue, 60%, 65%) hsl($fastoche-color3-hue, 90%, 65%),
  fastoche-color3-975: hsl($fastoche-color3-hue, 80%, 98%) hsl($fastoche-color3-hue, 60%, 65%) hsl($fastoche-color3-hue, 90%, 65%),
  fastoche-color3-sun: hsl($fastoche-color3-hue, 75%, 25%) hsl($fastoche-color3-hue, 60%, 20%) hsl($fastoche-color3-hue, 40%, 15%),
  fastoche-color3-moon: hsl($fastoche-color3-hue, 80%, 75%) hsl($fastoche-color3-hue, 60%, 75%) hsl($fastoche-color3-hue, 40%, 75%),
  fastoche-color3-main: hsl($fastoche-color3-hue, 85%, 25%) hsl($fastoche-color3-hue, 60%, 15%) hsl($fastoche-color3-hue, 40%, 15%) hsl($fastoche-color3-hue, 60%, 15%) hsl($fastoche-color3-hue, 40%, 15%),
  // fastoche-color4-
  fastoche-color4-75: hsl($fastoche-color4-hue, 20%, 7%) hsl($fastoche-color4-hue, 20%, 12%) hsl($fastoche-color4-hue, 30%, 15%),
  fastoche-color4-100: hsl($fastoche-color4-hue, 20%, 10%) hsl($fastoche-color4-hue, 22%, 13%) hsl($fastoche-color4-hue, 33%, 18%),
  fastoche-color4-125: hsl($fastoche-color4-hue, 33%, 13%) hsl($fastoche-color4-hue, 40%, 65%) hsl($fastoche-color4-hue, 45%, 65%),
  fastoche-color4-200: hsl($fastoche-color4-hue, 45%, 20%) hsl($fastoche-color4-hue, 50%, 25%) hsl($fastoche-color4-hue, 60%, 30%),
  fastoche-color4-625: hsl($fastoche-color4-hue, 80%, 65%) hsl($fastoche-color4-hue, 60%, 65%) hsl($fastoche-color4-hue, 90%, 65%),
  fastoche-color4-850: hsl($fastoche-color4-hue, 80%, 85%) hsl($fastoche-color4-hue, 60%, 65%) hsl($fastoche-color4-hue, 90%, 65%),
  fastoche-color4-925: hsl($fastoche-color4-hue, 80%, 93%) hsl($fastoche-color4-hue, 60%, 65%) hsl($fastoche-color4-hue, 90%, 65%),
  fastoche-color4-950: hsl($fastoche-color4-hue, 80%, 96%) hsl($fastoche-color4-hue, 60%, 65%) hsl($fastoche-color4-hue, 90%, 65%),
  fastoche-color4-975: hsl($fastoche-color4-hue, 80%, 98%) hsl($fastoche-color4-hue, 60%, 65%) hsl($fastoche-color4-hue, 90%, 65%),
  fastoche-color4-sun: hsl($fastoche-color4-hue, 75%, 25%) hsl($fastoche-color4-hue, 60%, 20%) hsl($fastoche-color4-hue, 40%, 15%),
  fastoche-color4-moon: hsl($fastoche-color4-hue, 80%, 75%) hsl($fastoche-color4-hue, 60%, 75%) hsl($fastoche-color4-hue, 40%, 75%),
  fastoche-color4-main: hsl($fastoche-color4-hue, 85%, 25%) hsl($fastoche-color4-hue, 60%, 15%) hsl($fastoche-color4-hue, 40%, 15%) hsl($fastoche-color4-hue, 60%, 15%) hsl($fastoche-color4-hue, 40%, 15%),
  // fastoche-color5-
  fastoche-color5-75: hsl($fastoche-color5-hue, 20%, 7%) hsl($fastoche-color5-hue, 20%, 12%) hsl($fastoche-color5-hue, 30%, 15%),
  fastoche-color5-100: hsl($fastoche-color5-hue, 20%, 10%) hsl($fastoche-color5-hue, 22%, 13%) hsl($fastoche-color5-hue, 33%, 18%),
  fastoche-color5-125: hsl($fastoche-color5-hue, 33%, 13%) hsl($fastoche-color5-hue, 40%, 65%) hsl($fastoche-color5-hue, 45%, 65%),
  fastoche-color5-200: hsl($fastoche-color5-hue, 45%, 20%) hsl($fastoche-color5-hue, 50%, 25%) hsl($fastoche-color5-hue, 60%, 30%),
  fastoche-color5-625: hsl($fastoche-color5-hue, 80%, 65%) hsl($fastoche-color5-hue, 60%, 65%) hsl($fastoche-color5-hue, 90%, 65%),
  fastoche-color5-850: hsl($fastoche-color5-hue, 80%, 85%) hsl($fastoche-color5-hue, 60%, 65%) hsl($fastoche-color5-hue, 90%, 65%),
  fastoche-color5-925: hsl($fastoche-color5-hue, 80%, 93%) hsl($fastoche-color5-hue, 60%, 65%) hsl($fastoche-color5-hue, 90%, 65%),
  fastoche-color5-950: hsl($fastoche-color5-hue, 80%, 96%) hsl($fastoche-color5-hue, 60%, 65%) hsl($fastoche-color5-hue, 90%, 65%),
  fastoche-color5-975: hsl($fastoche-color5-hue, 80%, 98%) hsl($fastoche-color5-hue, 60%, 65%) hsl($fastoche-color5-hue, 90%, 65%),
  fastoche-color5-sun: hsl($fastoche-color5-hue, 75%, 25%) hsl($fastoche-color5-hue, 60%, 20%) hsl($fastoche-color5-hue, 40%, 15%),
  fastoche-color5-moon: hsl($fastoche-color5-hue, 80%, 75%) hsl($fastoche-color5-hue, 60%, 75%) hsl($fastoche-color5-hue, 40%, 75%),
  fastoche-color5-main: hsl($fastoche-color5-hue, 85%, 25%) hsl($fastoche-color5-hue, 60%, 15%) hsl($fastoche-color5-hue, 40%, 15%) hsl($fastoche-color5-hue, 60%, 15%) hsl($fastoche-color5-hue, 40%, 15%),
  // fastoche-color6-
  fastoche-color6-75: hsl($fastoche-color6-hue, 20%, 7%) hsl($fastoche-color6-hue, 20%, 12%) hsl($fastoche-color6-hue, 30%, 15%),
  fastoche-color6-100: hsl($fastoche-color6-hue, 20%, 10%) hsl($fastoche-color6-hue, 22%, 13%) hsl($fastoche-color6-hue, 33%, 18%),
  fastoche-color6-125: hsl($fastoche-color6-hue, 33%, 13%) hsl($fastoche-color6-hue, 40%, 65%) hsl($fastoche-color6-hue, 45%, 65%),
  fastoche-color6-200: hsl($fastoche-color6-hue, 45%, 20%) hsl($fastoche-color6-hue, 50%, 25%) hsl($fastoche-color6-hue, 60%, 30%),
  fastoche-color6-625: hsl($fastoche-color6-hue, 80%, 65%) hsl($fastoche-color6-hue, 60%, 65%) hsl($fastoche-color6-hue, 90%, 65%),
  fastoche-color6-850: hsl($fastoche-color6-hue, 80%, 85%) hsl($fastoche-color6-hue, 60%, 65%) hsl($fastoche-color6-hue, 90%, 65%),
  fastoche-color6-925: hsl($fastoche-color6-hue, 80%, 93%) hsl($fastoche-color6-hue, 60%, 65%) hsl($fastoche-color6-hue, 90%, 65%),
  fastoche-color6-950: hsl($fastoche-color6-hue, 80%, 96%) hsl($fastoche-color6-hue, 60%, 65%) hsl($fastoche-color6-hue, 90%, 65%),
  fastoche-color6-975: hsl($fastoche-color6-hue, 80%, 98%) hsl($fastoche-color6-hue, 60%, 65%) hsl($fastoche-color6-hue, 90%, 65%),
  fastoche-color6-sun: hsl($fastoche-color6-hue, 75%, 25%) hsl($fastoche-color6-hue, 60%, 20%) hsl($fastoche-color6-hue, 40%, 15%),
  fastoche-color6-moon: hsl($fastoche-color6-hue, 80%, 75%) hsl($fastoche-color6-hue, 60%, 75%) hsl($fastoche-color6-hue, 40%, 75%),
  fastoche-color6-main: hsl($fastoche-color6-hue, 85%, 25%) hsl($fastoche-color6-hue, 60%, 15%) hsl($fastoche-color6-hue, 40%, 15%) hsl($fastoche-color6-hue, 60%, 15%) hsl($fastoche-color6-hue, 40%, 15%),
  // fastoche-color7-
  fastoche-color7-75: hsl($fastoche-color7-hue, 20%, 7%) hsl($fastoche-color7-hue, 20%, 12%) hsl($fastoche-color7-hue, 30%, 15%),
  fastoche-color7-100: hsl($fastoche-color7-hue, 20%, 10%) hsl($fastoche-color7-hue, 22%, 13%) hsl($fastoche-color7-hue, 33%, 18%),
  fastoche-color7-125: hsl($fastoche-color7-hue, 33%, 13%) hsl($fastoche-color7-hue, 40%, 65%) hsl($fastoche-color7-hue, 45%, 65%),
  fastoche-color7-200: hsl($fastoche-color7-hue, 45%, 20%) hsl($fastoche-color7-hue, 50%, 25%) hsl($fastoche-color7-hue, 60%, 30%),
  fastoche-color7-625: hsl($fastoche-color7-hue, 80%, 65%) hsl($fastoche-color7-hue, 60%, 65%) hsl($fastoche-color7-hue, 90%, 65%),
  fastoche-color7-850: hsl($fastoche-color7-hue, 80%, 85%) hsl($fastoche-color7-hue, 60%, 65%) hsl($fastoche-color7-hue, 90%, 65%),
  fastoche-color7-925: hsl($fastoche-color7-hue, 80%, 93%) hsl($fastoche-color7-hue, 60%, 65%) hsl($fastoche-color7-hue, 90%, 65%),
  fastoche-color7-950: hsl($fastoche-color7-hue, 80%, 96%) hsl($fastoche-color7-hue, 60%, 65%) hsl($fastoche-color7-hue, 90%, 65%),
  fastoche-color7-975: hsl($fastoche-color7-hue, 80%, 98%) hsl($fastoche-color7-hue, 60%, 65%) hsl($fastoche-color7-hue, 90%, 65%),
  fastoche-color7-sun: hsl($fastoche-color7-hue, 75%, 25%) hsl($fastoche-color7-hue, 60%, 20%) hsl($fastoche-color7-hue, 40%, 15%),
  fastoche-color7-moon: hsl($fastoche-color7-hue, 80%, 75%) hsl($fastoche-color7-hue, 60%, 75%) hsl($fastoche-color7-hue, 40%, 75%),
  fastoche-color7-main: hsl($fastoche-color7-hue, 85%, 25%) hsl($fastoche-color7-hue, 60%, 15%) hsl($fastoche-color7-hue, 40%, 15%) hsl($fastoche-color7-hue, 60%, 15%) hsl($fastoche-color7-hue, 40%, 15%),
  // fastoche-color8-
  fastoche-color8-75: hsl($fastoche-color8-hue, 20%, 7%) hsl($fastoche-color8-hue, 20%, 12%) hsl($fastoche-color8-hue, 30%, 15%),
  fastoche-color8-100: hsl($fastoche-color8-hue, 20%, 10%) hsl($fastoche-color8-hue, 22%, 13%) hsl($fastoche-color8-hue, 33%, 18%),
  fastoche-color8-125: hsl($fastoche-color8-hue, 33%, 13%) hsl($fastoche-color8-hue, 40%, 65%) hsl($fastoche-color8-hue, 45%, 65%),
  fastoche-color8-200: hsl($fastoche-color8-hue, 45%, 20%) hsl($fastoche-color8-hue, 50%, 25%) hsl($fastoche-color8-hue, 60%, 30%),
  fastoche-color8-625: hsl($fastoche-color8-hue, 80%, 65%) hsl($fastoche-color8-hue, 60%, 65%) hsl($fastoche-color8-hue, 90%, 65%),
  fastoche-color8-850: hsl($fastoche-color8-hue, 80%, 85%) hsl($fastoche-color8-hue, 60%, 65%) hsl($fastoche-color8-hue, 90%, 65%),
  fastoche-color8-925: hsl($fastoche-color8-hue, 80%, 93%) hsl($fastoche-color8-hue, 60%, 65%) hsl($fastoche-color8-hue, 90%, 65%),
  fastoche-color8-950: hsl($fastoche-color8-hue, 80%, 96%) hsl($fastoche-color8-hue, 60%, 65%) hsl($fastoche-color8-hue, 90%, 65%),
  fastoche-color8-975: hsl($fastoche-color8-hue, 80%, 98%) hsl($fastoche-color8-hue, 60%, 65%) hsl($fastoche-color8-hue, 90%, 65%),
  fastoche-color8-sun: hsl($fastoche-color8-hue, 75%, 25%) hsl($fastoche-color8-hue, 60%, 20%) hsl($fastoche-color8-hue, 40%, 15%),
  fastoche-color8-moon: hsl($fastoche-color8-hue, 80%, 75%) hsl($fastoche-color8-hue, 60%, 75%) hsl($fastoche-color8-hue, 40%, 75%),
  fastoche-color8-main: hsl($fastoche-color8-hue, 85%, 25%) hsl($fastoche-color8-hue, 60%, 15%) hsl($fastoche-color8-hue, 40%, 15%) hsl($fastoche-color8-hue, 60%, 15%) hsl($fastoche-color8-hue, 40%, 15%),
  // fastoche-color9-
  fastoche-color9-75: hsl($fastoche-color9-hue, 20%, 7%) hsl($fastoche-color9-hue, 20%, 12%) hsl($fastoche-color9-hue, 30%, 15%),
  fastoche-color9-100: hsl($fastoche-color9-hue, 20%, 10%) hsl($fastoche-color9-hue, 22%, 13%) hsl($fastoche-color9-hue, 33%, 18%),
  fastoche-color9-125: hsl($fastoche-color9-hue, 33%, 13%) hsl($fastoche-color9-hue, 40%, 65%) hsl($fastoche-color9-hue, 45%, 65%),
  fastoche-color9-200: hsl($fastoche-color9-hue, 45%, 20%) hsl($fastoche-color9-hue, 50%, 25%) hsl($fastoche-color9-hue, 60%, 30%),
  fastoche-color9-625: hsl($fastoche-color9-hue, 80%, 65%) hsl($fastoche-color9-hue, 60%, 65%) hsl($fastoche-color9-hue, 90%, 65%),
  fastoche-color9-850: hsl($fastoche-color9-hue, 80%, 85%) hsl($fastoche-color9-hue, 60%, 65%) hsl($fastoche-color9-hue, 90%, 65%),
  fastoche-color9-925: hsl($fastoche-color9-hue, 80%, 93%) hsl($fastoche-color9-hue, 60%, 65%) hsl($fastoche-color9-hue, 90%, 65%),
  fastoche-color9-950: hsl($fastoche-color9-hue, 80%, 96%) hsl($fastoche-color9-hue, 60%, 65%) hsl($fastoche-color9-hue, 90%, 65%),
  fastoche-color9-975: hsl($fastoche-color9-hue, 80%, 98%) hsl($fastoche-color9-hue, 60%, 65%) hsl($fastoche-color9-hue, 90%, 65%),
  fastoche-color9-sun: hsl($fastoche-color9-hue, 75%, 25%) hsl($fastoche-color9-hue, 60%, 20%) hsl($fastoche-color9-hue, 40%, 15%),
  fastoche-color9-moon: hsl($fastoche-color9-hue, 80%, 75%) hsl($fastoche-color9-hue, 60%, 75%) hsl($fastoche-color9-hue, 40%, 75%),
  fastoche-color9-main: hsl($fastoche-color9-hue, 85%, 25%) hsl($fastoche-color9-hue, 60%, 15%) hsl($fastoche-color9-hue, 40%, 15%) hsl($fastoche-color9-hue, 60%, 15%) hsl($fastoche-color9-hue, 40%, 15%),
  // fastoche-color10-
  fastoche-color10-75: hsl($fastoche-color10-hue, 20%, 7%) hsl($fastoche-color10-hue, 20%, 12%) hsl($fastoche-color10-hue, 30%, 15%),
  fastoche-color10-100: hsl($fastoche-color10-hue, 20%, 10%) hsl($fastoche-color10-hue, 22%, 13%) hsl($fastoche-color10-hue, 33%, 18%),
  fastoche-color10-125: hsl($fastoche-color10-hue, 33%, 13%) hsl($fastoche-color10-hue, 40%, 65%) hsl($fastoche-color10-hue, 45%, 65%),
  fastoche-color10-200: hsl($fastoche-color10-hue, 45%, 20%) hsl($fastoche-color10-hue, 50%, 25%) hsl($fastoche-color10-hue, 60%, 30%),
  fastoche-color10-625: hsl($fastoche-color10-hue, 80%, 65%) hsl($fastoche-color10-hue, 60%, 65%) hsl($fastoche-color10-hue, 90%, 65%),
  fastoche-color10-850: hsl($fastoche-color10-hue, 80%, 85%) hsl($fastoche-color10-hue, 60%, 65%) hsl($fastoche-color10-hue, 90%, 65%),
  fastoche-color10-925: hsl($fastoche-color10-hue, 80%, 93%) hsl($fastoche-color10-hue, 60%, 65%) hsl($fastoche-color10-hue, 90%, 65%),
  fastoche-color10-950: hsl($fastoche-color10-hue, 80%, 96%) hsl($fastoche-color10-hue, 60%, 65%) hsl($fastoche-color10-hue, 90%, 65%),
  fastoche-color10-975: hsl($fastoche-color10-hue, 80%, 98%) hsl($fastoche-color10-hue, 60%, 65%) hsl($fastoche-color10-hue, 90%, 65%),
  fastoche-color10-sun: hsl($fastoche-color10-hue, 75%, 25%) hsl($fastoche-color10-hue, 60%, 20%) hsl($fastoche-color10-hue, 40%, 15%),
  fastoche-color10-moon: hsl($fastoche-color10-hue, 80%, 75%) hsl($fastoche-color10-hue, 60%, 75%) hsl($fastoche-color10-hue, 40%, 75%),
  fastoche-color10-main: hsl($fastoche-color10-hue, 85%, 25%) hsl($fastoche-color10-hue, 60%, 15%) hsl($fastoche-color10-hue, 40%, 15%) hsl($fastoche-color10-hue, 60%, 15%) hsl($fastoche-color10-hue, 40%, 15%),
  // fastoche-color11-
  fastoche-color11-75: hsl($fastoche-color11-hue, 20%, 7%) hsl($fastoche-color11-hue, 20%, 12%) hsl($fastoche-color11-hue, 30%, 15%),
  fastoche-color11-100: hsl($fastoche-color11-hue, 20%, 10%) hsl($fastoche-color11-hue, 22%, 13%) hsl($fastoche-color11-hue, 33%, 18%),
  fastoche-color11-125: hsl($fastoche-color11-hue, 33%, 13%) hsl($fastoche-color11-hue, 40%, 65%) hsl($fastoche-color11-hue, 45%, 65%),
  fastoche-color11-200: hsl($fastoche-color11-hue, 45%, 20%) hsl($fastoche-color11-hue, 50%, 25%) hsl($fastoche-color11-hue, 60%, 30%),
  fastoche-color11-625: hsl($fastoche-color11-hue, 80%, 65%) hsl($fastoche-color11-hue, 60%, 65%) hsl($fastoche-color11-hue, 90%, 65%),
  fastoche-color11-850: hsl($fastoche-color11-hue, 80%, 85%) hsl($fastoche-color11-hue, 60%, 65%) hsl($fastoche-color11-hue, 90%, 65%),
  fastoche-color11-925: hsl($fastoche-color11-hue, 80%, 93%) hsl($fastoche-color11-hue, 60%, 65%) hsl($fastoche-color11-hue, 90%, 65%),
  fastoche-color11-950: hsl($fastoche-color11-hue, 80%, 96%) hsl($fastoche-color11-hue, 60%, 65%) hsl($fastoche-color11-hue, 90%, 65%),
  fastoche-color11-975: hsl($fastoche-color11-hue, 80%, 98%) hsl($fastoche-color11-hue, 60%, 65%) hsl($fastoche-color11-hue, 90%, 65%),
  fastoche-color11-sun: hsl($fastoche-color11-hue, 75%, 25%) hsl($fastoche-color11-hue, 60%, 20%) hsl($fastoche-color11-hue, 40%, 15%),
  fastoche-color11-moon: hsl($fastoche-color11-hue, 80%, 75%) hsl($fastoche-color11-hue, 60%, 75%) hsl($fastoche-color11-hue, 40%, 75%),
  fastoche-color11-main: hsl($fastoche-color11-hue, 85%, 25%) hsl($fastoche-color11-hue, 60%, 15%) hsl($fastoche-color11-hue, 40%, 15%) hsl($fastoche-color11-hue, 60%, 15%) hsl($fastoche-color11-hue, 40%, 15%),
  // fastoche-color12-
  fastoche-color12-75: hsl($fastoche-color12-hue, 20%, 7%) hsl($fastoche-color12-hue, 20%, 12%) hsl($fastoche-color12-hue, 30%, 15%),
  fastoche-color12-100: hsl($fastoche-color12-hue, 20%, 10%) hsl($fastoche-color12-hue, 22%, 13%) hsl($fastoche-color12-hue, 33%, 18%),
  fastoche-color12-125: hsl($fastoche-color12-hue, 33%, 13%) hsl($fastoche-color12-hue, 40%, 65%) hsl($fastoche-color12-hue, 45%, 65%),
  fastoche-color12-200: hsl($fastoche-color12-hue, 45%, 20%) hsl($fastoche-color12-hue, 50%, 25%) hsl($fastoche-color12-hue, 60%, 30%),
  fastoche-color12-625: hsl($fastoche-color12-hue, 80%, 65%) hsl($fastoche-color12-hue, 60%, 65%) hsl($fastoche-color12-hue, 90%, 65%),
  fastoche-color12-850: hsl($fastoche-color12-hue, 80%, 85%) hsl($fastoche-color12-hue, 60%, 65%) hsl($fastoche-color12-hue, 90%, 65%),
  fastoche-color12-925: hsl($fastoche-color12-hue, 80%, 93%) hsl($fastoche-color12-hue, 60%, 65%) hsl($fastoche-color12-hue, 90%, 65%),
  fastoche-color12-950: hsl($fastoche-color12-hue, 80%, 96%) hsl($fastoche-color12-hue, 60%, 65%) hsl($fastoche-color12-hue, 90%, 65%),
  fastoche-color12-975: hsl($fastoche-color12-hue, 80%, 98%) hsl($fastoche-color12-hue, 60%, 65%) hsl($fastoche-color12-hue, 90%, 65%),
  fastoche-color12-sun: hsl($fastoche-color12-hue, 75%, 25%) hsl($fastoche-color12-hue, 60%, 20%) hsl($fastoche-color12-hue, 40%, 15%),
  fastoche-color12-moon: hsl($fastoche-color12-hue, 80%, 75%) hsl($fastoche-color12-hue, 60%, 75%) hsl($fastoche-color12-hue, 40%, 75%),
  fastoche-color12-main: hsl($fastoche-color12-hue, 85%, 25%) hsl($fastoche-color12-hue, 60%, 15%) hsl($fastoche-color12-hue, 40%, 15%) hsl($fastoche-color12-hue, 60%, 15%) hsl($fastoche-color12-hue, 40%, 15%),
  // fastoche-color13-
  fastoche-color13-75: hsl($fastoche-color13-hue, 20%, 7%) hsl($fastoche-color13-hue, 20%, 12%) hsl($fastoche-color13-hue, 30%, 15%),
  fastoche-color13-100: hsl($fastoche-color13-hue, 20%, 10%) hsl($fastoche-color13-hue, 22%, 13%) hsl($fastoche-color13-hue, 33%, 18%),
  fastoche-color13-125: hsl($fastoche-color13-hue, 33%, 13%) hsl($fastoche-color13-hue, 40%, 65%) hsl($fastoche-color13-hue, 45%, 65%),
  fastoche-color13-200: hsl($fastoche-color13-hue, 45%, 20%) hsl($fastoche-color13-hue, 50%, 25%) hsl($fastoche-color13-hue, 60%, 30%),
  fastoche-color13-625: hsl($fastoche-color13-hue, 80%, 65%) hsl($fastoche-color13-hue, 60%, 65%) hsl($fastoche-color13-hue, 90%, 65%),
  fastoche-color13-850: hsl($fastoche-color13-hue, 80%, 85%) hsl($fastoche-color13-hue, 60%, 65%) hsl($fastoche-color13-hue, 90%, 65%),
  fastoche-color13-925: hsl($fastoche-color13-hue, 80%, 93%) hsl($fastoche-color13-hue, 60%, 65%) hsl($fastoche-color13-hue, 90%, 65%),
  fastoche-color13-950: hsl($fastoche-color13-hue, 80%, 96%) hsl($fastoche-color13-hue, 60%, 65%) hsl($fastoche-color13-hue, 90%, 65%),
  fastoche-color13-975: hsl($fastoche-color13-hue, 80%, 98%) hsl($fastoche-color13-hue, 60%, 65%) hsl($fastoche-color13-hue, 90%, 65%),
  fastoche-color13-sun: hsl($fastoche-color13-hue, 75%, 25%) hsl($fastoche-color13-hue, 60%, 20%) hsl($fastoche-color13-hue, 40%, 15%),
  fastoche-color13-moon: hsl($fastoche-color13-hue, 80%, 75%) hsl($fastoche-color13-hue, 60%, 75%) hsl($fastoche-color13-hue, 40%, 75%),
  fastoche-color13-main: hsl($fastoche-color13-hue, 85%, 25%) hsl($fastoche-color13-hue, 60%, 15%) hsl($fastoche-color13-hue, 40%, 15%) hsl($fastoche-color13-hue, 60%, 15%) hsl($fastoche-color13-hue, 40%, 15%),
  // fastoche-color14-
  fastoche-color14-75: hsl($fastoche-color14-hue, 20%, 7%) hsl($fastoche-color14-hue, 20%, 12%) hsl($fastoche-color14-hue, 30%, 15%),
  fastoche-color14-100: hsl($fastoche-color14-hue, 20%, 10%) hsl($fastoche-color14-hue, 22%, 13%) hsl($fastoche-color14-hue, 33%, 18%),
  fastoche-color14-125: hsl($fastoche-color14-hue, 33%, 13%) hsl($fastoche-color14-hue, 40%, 65%) hsl($fastoche-color14-hue, 45%, 65%),
  fastoche-color14-200: hsl($fastoche-color14-hue, 45%, 20%) hsl($fastoche-color14-hue, 50%, 25%) hsl($fastoche-color14-hue, 60%, 30%),
  fastoche-color14-625: hsl($fastoche-color14-hue, 80%, 65%) hsl($fastoche-color14-hue, 60%, 65%) hsl($fastoche-color14-hue, 90%, 65%),
  fastoche-color14-850: hsl($fastoche-color14-hue, 80%, 85%) hsl($fastoche-color14-hue, 60%, 65%) hsl($fastoche-color14-hue, 90%, 65%),
  fastoche-color14-925: hsl($fastoche-color14-hue, 80%, 93%) hsl($fastoche-color14-hue, 60%, 65%) hsl($fastoche-color14-hue, 90%, 65%),
  fastoche-color14-950: hsl($fastoche-color14-hue, 80%, 96%) hsl($fastoche-color14-hue, 60%, 65%) hsl($fastoche-color14-hue, 90%, 65%),
  fastoche-color14-975: hsl($fastoche-color14-hue, 80%, 98%) hsl($fastoche-color14-hue, 60%, 65%) hsl($fastoche-color14-hue, 90%, 65%),
  fastoche-color14-sun: hsl($fastoche-color14-hue, 75%, 25%) hsl($fastoche-color14-hue, 60%, 20%) hsl($fastoche-color14-hue, 40%, 15%),
  fastoche-color14-moon: hsl($fastoche-color14-hue, 80%, 75%) hsl($fastoche-color14-hue, 60%, 75%) hsl($fastoche-color14-hue, 40%, 75%),
  fastoche-color14-main: hsl($fastoche-color14-hue, 85%, 25%) hsl($fastoche-color14-hue, 60%, 15%) hsl($fastoche-color14-hue, 40%, 15%) hsl($fastoche-color14-hue, 60%, 15%) hsl($fastoche-color14-hue, 40%, 15%),
  // fastoche-color15-
  fastoche-color15-75: hsl($fastoche-color15-hue, 20%, 7%) hsl($fastoche-color15-hue, 20%, 12%) hsl($fastoche-color15-hue, 30%, 15%),
  fastoche-color15-100: hsl($fastoche-color15-hue, 20%, 10%) hsl($fastoche-color15-hue, 22%, 13%) hsl($fastoche-color15-hue, 33%, 18%),
  fastoche-color15-125: hsl($fastoche-color15-hue, 33%, 13%) hsl($fastoche-color15-hue, 40%, 65%) hsl($fastoche-color15-hue, 45%, 65%),
  fastoche-color15-200: hsl($fastoche-color15-hue, 45%, 20%) hsl($fastoche-color15-hue, 50%, 25%) hsl($fastoche-color15-hue, 60%, 30%),
  fastoche-color15-625: hsl($fastoche-color15-hue, 80%, 65%) hsl($fastoche-color15-hue, 60%, 65%) hsl($fastoche-color15-hue, 90%, 65%),
  fastoche-color15-850: hsl($fastoche-color15-hue, 80%, 85%) hsl($fastoche-color15-hue, 60%, 65%) hsl($fastoche-color15-hue, 90%, 65%),
  fastoche-color15-925: hsl($fastoche-color15-hue, 80%, 93%) hsl($fastoche-color15-hue, 60%, 65%) hsl($fastoche-color15-hue, 90%, 65%),
  fastoche-color15-950: hsl($fastoche-color15-hue, 80%, 96%) hsl($fastoche-color15-hue, 60%, 65%) hsl($fastoche-color15-hue, 90%, 65%),
  fastoche-color15-975: hsl($fastoche-color15-hue, 80%, 98%) hsl($fastoche-color15-hue, 60%, 65%) hsl($fastoche-color15-hue, 90%, 65%),
  fastoche-color15-sun: hsl($fastoche-color15-hue, 75%, 25%) hsl($fastoche-color15-hue, 60%, 20%) hsl($fastoche-color15-hue, 40%, 15%),
  fastoche-color15-moon: hsl($fastoche-color15-hue, 80%, 75%) hsl($fastoche-color15-hue, 60%, 75%) hsl($fastoche-color15-hue, 40%, 75%),
  fastoche-color15-main: hsl($fastoche-color15-hue, 85%, 25%) hsl($fastoche-color15-hue, 60%, 15%) hsl($fastoche-color15-hue, 40%, 15%) hsl($fastoche-color15-hue, 60%, 15%) hsl($fastoche-color15-hue, 40%, 15%),
  // fastoche-color16-
  fastoche-color16-75: hsl($fastoche-color16-hue, 20%, 7%) hsl($fastoche-color16-hue, 20%, 12%) hsl($fastoche-color16-hue, 30%, 15%),
  fastoche-color16-100: hsl($fastoche-color16-hue, 20%, 10%) hsl($fastoche-color16-hue, 22%, 13%) hsl($fastoche-color16-hue, 33%, 18%),
  fastoche-color16-125: hsl($fastoche-color16-hue, 33%, 13%) hsl($fastoche-color16-hue, 40%, 65%) hsl($fastoche-color16-hue, 45%, 65%),
  fastoche-color16-200: hsl($fastoche-color16-hue, 45%, 20%) hsl($fastoche-color16-hue, 50%, 25%) hsl($fastoche-color16-hue, 60%, 30%),
  fastoche-color16-625: hsl($fastoche-color16-hue, 80%, 65%) hsl($fastoche-color16-hue, 60%, 65%) hsl($fastoche-color16-hue, 90%, 65%),
  fastoche-color16-850: hsl($fastoche-color16-hue, 80%, 85%) hsl($fastoche-color16-hue, 60%, 65%) hsl($fastoche-color16-hue, 90%, 65%),
  fastoche-color16-925: hsl($fastoche-color16-hue, 80%, 93%) hsl($fastoche-color16-hue, 60%, 65%) hsl($fastoche-color16-hue, 90%, 65%),
  fastoche-color16-950: hsl($fastoche-color16-hue, 80%, 96%) hsl($fastoche-color16-hue, 60%, 65%) hsl($fastoche-color16-hue, 90%, 65%),
  fastoche-color16-975: hsl($fastoche-color16-hue, 80%, 98%) hsl($fastoche-color16-hue, 60%, 65%) hsl($fastoche-color16-hue, 90%, 65%),
  fastoche-color16-sun: hsl($fastoche-color16-hue, 75%, 25%) hsl($fastoche-color16-hue, 60%, 20%) hsl($fastoche-color16-hue, 40%, 15%),
  fastoche-color16-moon: hsl($fastoche-color16-hue, 80%, 75%) hsl($fastoche-color16-hue, 60%, 75%) hsl($fastoche-color16-hue, 40%, 75%),
  fastoche-color16-main: hsl($fastoche-color16-hue, 85%, 25%) hsl($fastoche-color16-hue, 60%, 15%) hsl($fastoche-color16-hue, 40%, 15%) hsl($fastoche-color16-hue, 60%, 15%) hsl($fastoche-color16-hue, 40%, 15%),
  // fastoche-color17-
  fastoche-color17-75: hsl($fastoche-color17-hue, 20%, 7%) hsl($fastoche-color17-hue, 20%, 12%) hsl($fastoche-color17-hue, 30%, 15%),
  fastoche-color17-100: hsl($fastoche-color17-hue, 20%, 10%) hsl($fastoche-color17-hue, 22%, 13%) hsl($fastoche-color17-hue, 33%, 18%),
  fastoche-color17-125: hsl($fastoche-color17-hue, 33%, 13%) hsl($fastoche-color17-hue, 40%, 65%) hsl($fastoche-color17-hue, 45%, 65%),
  fastoche-color17-200: hsl($fastoche-color17-hue, 45%, 20%) hsl($fastoche-color17-hue, 50%, 25%) hsl($fastoche-color17-hue, 60%, 30%),
  fastoche-color17-625: hsl($fastoche-color17-hue, 80%, 65%) hsl($fastoche-color17-hue, 60%, 65%) hsl($fastoche-color17-hue, 90%, 65%),
  fastoche-color17-850: hsl($fastoche-color17-hue, 80%, 85%) hsl($fastoche-color17-hue, 60%, 65%) hsl($fastoche-color17-hue, 90%, 65%),
  fastoche-color17-925: hsl($fastoche-color17-hue, 80%, 93%) hsl($fastoche-color17-hue, 60%, 65%) hsl($fastoche-color17-hue, 90%, 65%),
  fastoche-color17-950: hsl($fastoche-color17-hue, 80%, 96%) hsl($fastoche-color17-hue, 60%, 65%) hsl($fastoche-color17-hue, 90%, 65%),
  fastoche-color17-975: hsl($fastoche-color17-hue, 80%, 98%) hsl($fastoche-color17-hue, 60%, 65%) hsl($fastoche-color17-hue, 90%, 65%),
  fastoche-color17-sun: hsl($fastoche-color17-hue, 75%, 25%) hsl($fastoche-color17-hue, 60%, 20%) hsl($fastoche-color17-hue, 40%, 15%),
  fastoche-color17-moon: hsl($fastoche-color17-hue, 80%, 75%) hsl($fastoche-color17-hue, 60%, 75%) hsl($fastoche-color17-hue, 40%, 75%),
  fastoche-color17-main: hsl($fastoche-color17-hue, 85%, 25%) hsl($fastoche-color17-hue, 60%, 15%) hsl($fastoche-color17-hue, 40%, 15%) hsl($fastoche-color17-hue, 60%, 15%) hsl($fastoche-color17-hue, 40%, 15%),
  // fastoche-color18-
  fastoche-color18-75: hsl($fastoche-color18-hue, 20%, 7%) hsl($fastoche-color18-hue, 20%, 12%) hsl($fastoche-color18-hue, 30%, 15%),
  fastoche-color18-100: hsl($fastoche-color18-hue, 20%, 10%) hsl($fastoche-color18-hue, 22%, 13%) hsl($fastoche-color18-hue, 33%, 18%),
  fastoche-color18-125: hsl($fastoche-color18-hue, 33%, 13%) hsl($fastoche-color18-hue, 40%, 65%) hsl($fastoche-color18-hue, 45%, 65%),
  fastoche-color18-200: hsl($fastoche-color18-hue, 45%, 20%) hsl($fastoche-color18-hue, 50%, 25%) hsl($fastoche-color18-hue, 60%, 30%),
  fastoche-color18-625: hsl($fastoche-color18-hue, 80%, 65%) hsl($fastoche-color18-hue, 60%, 65%) hsl($fastoche-color18-hue, 90%, 65%),
  fastoche-color18-850: hsl($fastoche-color18-hue, 80%, 85%) hsl($fastoche-color18-hue, 60%, 65%) hsl($fastoche-color18-hue, 90%, 65%),
  fastoche-color18-925: hsl($fastoche-color18-hue, 80%, 93%) hsl($fastoche-color18-hue, 60%, 65%) hsl($fastoche-color18-hue, 90%, 65%),
  fastoche-color18-950: hsl($fastoche-color18-hue, 80%, 96%) hsl($fastoche-color18-hue, 60%, 65%) hsl($fastoche-color18-hue, 90%, 65%),
  fastoche-color18-975: hsl($fastoche-color18-hue, 80%, 98%) hsl($fastoche-color18-hue, 60%, 65%) hsl($fastoche-color18-hue, 90%, 65%),
  fastoche-color18-sun: hsl($fastoche-color18-hue, 75%, 25%) hsl($fastoche-color18-hue, 60%, 20%) hsl($fastoche-color18-hue, 40%, 15%),
  fastoche-color18-moon: hsl($fastoche-color18-hue, 80%, 75%) hsl($fastoche-color18-hue, 60%, 75%) hsl($fastoche-color18-hue, 40%, 75%),
  fastoche-color18-main: hsl($fastoche-color18-hue, 85%, 25%) hsl($fastoche-color18-hue, 60%, 15%) hsl($fastoche-color18-hue, 40%, 15%) hsl($fastoche-color18-hue, 60%, 15%) hsl($fastoche-color18-hue, 40%, 15%),
  // fastoche-color19-
  fastoche-color19-75: hsl($fastoche-color19-hue, 20%, 7%) hsl($fastoche-color19-hue, 20%, 12%) hsl($fastoche-color19-hue, 30%, 15%),
  fastoche-color19-100: hsl($fastoche-color19-hue, 20%, 10%) hsl($fastoche-color19-hue, 22%, 13%) hsl($fastoche-color19-hue, 33%, 18%),
  fastoche-color19-125: hsl($fastoche-color19-hue, 33%, 13%) hsl($fastoche-color19-hue, 40%, 65%) hsl($fastoche-color19-hue, 45%, 65%),
  fastoche-color19-200: hsl($fastoche-color19-hue, 45%, 20%) hsl($fastoche-color19-hue, 50%, 25%) hsl($fastoche-color19-hue, 60%, 30%),
  fastoche-color19-625: hsl($fastoche-color19-hue, 80%, 65%) hsl($fastoche-color19-hue, 60%, 65%) hsl($fastoche-color19-hue, 90%, 65%),
  fastoche-color19-850: hsl($fastoche-color19-hue, 80%, 85%) hsl($fastoche-color19-hue, 60%, 65%) hsl($fastoche-color19-hue, 90%, 65%),
  fastoche-color19-925: hsl($fastoche-color19-hue, 80%, 93%) hsl($fastoche-color19-hue, 60%, 65%) hsl($fastoche-color19-hue, 90%, 65%),
  fastoche-color19-950: hsl($fastoche-color19-hue, 80%, 96%) hsl($fastoche-color19-hue, 60%, 65%) hsl($fastoche-color19-hue, 90%, 65%),
  fastoche-color19-975: hsl($fastoche-color19-hue, 80%, 98%) hsl($fastoche-color19-hue, 60%, 65%) hsl($fastoche-color19-hue, 90%, 65%),
  fastoche-color19-sun: hsl($fastoche-color19-hue, 75%, 25%) hsl($fastoche-color19-hue, 60%, 20%) hsl($fastoche-color19-hue, 40%, 15%),
  fastoche-color19-moon: hsl($fastoche-color19-hue, 80%, 75%) hsl($fastoche-color19-hue, 60%, 75%) hsl($fastoche-color19-hue, 40%, 75%),
  fastoche-color19-main: hsl($fastoche-color19-hue, 85%, 25%) hsl($fastoche-color19-hue, 60%, 15%) hsl($fastoche-color19-hue, 40%, 15%) hsl($fastoche-color19-hue, 60%, 15%) hsl($fastoche-color19-hue, 40%, 15%),
);
