@use "sass:map";
@use "../function";
@use "../setting";
@use "icon";
@use "size";

////
/// Link Tool : link
/// @group link
////

@mixin nest-link($settings: setting.$links-settings, $size: md, $place: null, $icon: null, $from: null, $insert: true, $align-on-content: false, $override-icon: true) {
  $selector: null;
  $sizes: map.get($settings, sizes);
  $size-settings: map.get($sizes, $size);
  $border-radius: map.get($settings, border-radius);
  $places: map.get(setting.$links-settings, places);
  $append: map.get($settings, append);

  @if $insert {
    $selector: ns(map.get($settings, selector));

    @if $append != null {
      $selector: '#{$selector} #{$append}';
    }
  }

  @include nest($selector) {
    @include respond-from($from) {
      @include size.build-link-size($size-settings, $border-radius);

      @if $icon != null {
        $restrain: function.get-link-restrain($places, $place);
        $is-before: function.get-link-is-before($places, $place);
        $icon-size: function.get-link-icon-size($size-settings, $places, $place);
        @if $place != null {
          @include icon.build-link-icon($size-settings, $place, $size, $override-icon);
        }
        @include icon-style($restrain);
        @include icon-image($icon, $restrain);
        @include icon-content($is-before, $override-icon and not $is-before);
      }
      @else {
        @if $place != null {
          @include icon.build-link-icon($size-settings, $place, $size);
        }
        @else if $size != null {
          $restrain: function.get-link-restrain($places, $place);
          $icon-size: function.get-link-icon-size($size-settings, $places, $place);
          @include icon-size($icon-size, $restrain);
        }
      }

      @if map.get($settings, align-on-content) and $align-on-content {
        @include size.link-align-on-content($size, $place, $size-settings);
      }

      @content;
    }
  }
}

@mixin nest-link($size:md, $place: null, $icon:null, $from: null, $insert: true, $align-on-content: false) {
  @include nest-link(setting.$links-settings, $size, $place, $icon, $from, $insert, $align-on-content) {
    @content;
  }
}
