$values: (
  neutral: (
    grey: (
      absolute-black: grey-0 grey-1000,
      black: grey-50 grey-1000,
      darkest: grey-75 grey-975,
      darker: grey-100 grey-950,
      dark: grey-125 grey-925,
      strongest: grey-200 grey-850,
      strong: grey-425 grey-625,
      soft: grey-625 grey-425,
      softest: grey-850 grey-200,
      light: grey-925 grey-125,
      lighter: grey-950 grey-100,
      lightest: grey-975 grey-75,
      white: grey-1000 grey-50,
      border: grey-900 grey-175,
      raised: grey-1000 grey-75,
      overlap: grey-1000 grey-100,
      lifted: grey-1000 grey-75,
      alt-raised: grey-975 grey-100,
      alt-overlap: grey-975 grey-125,
      contrast-raised: grey-950 grey-125,
      contrast-overlap: grey-950 grey-150,
    ),
  ),
  primary: (
    design-system-primary: (
      strong: design-system-primary-sun design-system-primary-moon,
      softest: design-system-primary-850 design-system-primary-200,
      light: design-system-primary-925 design-system-primary-125,
      lighter: design-system-primary-950 design-system-primary-100,
      lightest: design-system-primary-975 design-system-primary-75,
      main: design-system-primary-main design-system-primary-main,
      inverted: design-system-primary-975 design-system-primary-75,
    ),
    design-system-secondary: (
      strong: design-system-secondary-sun design-system-secondary-moon,
      softest: design-system-secondary-850 design-system-secondary-200,
      light: design-system-secondary-925 design-system-secondary-125,
      lighter: design-system-secondary-950 design-system-secondary-100,
      lightest: design-system-secondary-975 design-system-secondary-75,
      main: design-system-secondary-main design-system-secondary-main,
      inverted: design-system-secondary-975 design-system-secondary-75,
    ),
  ),
  system: (
    info: (
      strong: info-425 info-625,
      softest: info-850 info-200,
      light: info-925 info-125,
      lighter: info-950 info-100,
      lightest: info-975 info-75,
      main: info-main info-main,
    ),
    success: (
      strong: success-425 success-625,
      softest: success-850 success-200,
      light: success-925 success-125,
      lighter: success-950 success-100,
      lightest: success-975 success-75,
      main: success-main success-main,
    ),
    warning: (
      strong: warning-425 warning-625,
      softest: warning-850 warning-200,
      light: warning-925 warning-125,
      lighter: warning-950 warning-100,
      lightest: warning-975 warning-75,
      main: warning-main warning-main,
    ),
    error: (
      strong: error-425 error-625,
      softest: error-850 error-200,
      light: error-925 error-125,
      lighter: error-950 error-100,
      lightest: error-975 error-75,
      main: error-main error-main,
    ),
  ),
  accent: (
    design-system-color3: (
      strong:design-system-color3-sun design-system-color3-moon,
      softest:design-system-color3-850 design-system-color3-200,
      light:design-system-color3-925 design-system-color3-125,
      lighter:design-system-color3-950 design-system-color3-100,
      lightest:design-system-color3-975 design-system-color3-75,
      main:design-system-color3-sun design-system-color3-moon,
    ),
    design-system-color4: (
      strong: design-system-color4-sun design-system-color4-moon,
      softest: design-system-color4-850 design-system-color4-200,
      light: design-system-color4-925 design-system-color4-125,
      lighter: design-system-color4-950 design-system-color4-100,
      lightest: design-system-color4-975 design-system-color4-75,
      main: design-system-color4-sun design-system-color4-moon,
    ),
    design-system-color5: (
      strong: design-system-color5-sun design-system-color5-moon,
      softest: design-system-color5-850 design-system-color5-200,
      light: design-system-color5-925 design-system-color5-125,
      lighter: design-system-color5-950 design-system-color5-100,
      lightest: design-system-color5-975 design-system-color5-75,
      main: design-system-color5-sun design-system-color5-moon,
    ),
    design-system-color6: (
      strong: design-system-color6-sun design-system-color6-moon,
      softest: design-system-color6-850 design-system-color6-200,
      light: design-system-color6-925 design-system-color6-125,
      lighter: design-system-color6-950 design-system-color6-100,
      lightest: design-system-color6-975 design-system-color6-75,
      main: design-system-color6-sun design-system-color6-moon,
    ),
    design-system-color7: (
      strong: design-system-color7-sun design-system-color7-moon,
      softest: design-system-color7-850 design-system-color7-200,
      light: design-system-color7-925 design-system-color7-125,
      lighter: design-system-color7-950 design-system-color7-100,
      lightest: design-system-color7-975 design-system-color7-75,
      main: design-system-color7-sun design-system-color7-moon,
    ),
    design-system-color8: (
      strong: design-system-color8-sun design-system-color8-moon,
      softest: design-system-color8-850 design-system-color8-200,
      light: design-system-color8-925 design-system-color8-125,
      lighter: design-system-color8-950 design-system-color8-100,
      lightest: design-system-color8-975 design-system-color8-75,
      main: design-system-color8-sun design-system-color8-moon,
    ),
    design-system-color9: (
      strong: design-system-color9-sun design-system-color9-moon,
      softest: design-system-color9-850 design-system-color9-200,
      light: design-system-color9-925 design-system-color9-125,
      lighter: design-system-color9-950 design-system-color9-100,
      lightest: design-system-color9-975 design-system-color9-75,
      main: design-system-color9-sun design-system-color9-moon,
    ),
    design-system-color10: (
      strong: design-system-color10-sun design-system-color10-moon,
      softest: design-system-color10-850 design-system-color10-200,
      light: design-system-color10-925 design-system-color10-125,
      lighter: design-system-color10-950 design-system-color10-100,
      lightest: design-system-color10-975 design-system-color10-75,
      main: design-system-color10-sun design-system-color10-moon,
    ),
    design-system-color11: (
      strong: design-system-color11-sun design-system-color11-moon,
      softest: design-system-color11-850 design-system-color11-200,
      light: design-system-color11-925 design-system-color11-125,
      lighter: design-system-color11-950 design-system-color11-100,
      lightest: design-system-color11-975 design-system-color11-75,
      main: design-system-color11-sun design-system-color11-moon,
    ),
    design-system-color12: (
      strong: design-system-color12-sun design-system-color12-moon,
      softest: design-system-color12-850 design-system-color12-200,
      light: design-system-color12-925 design-system-color12-125,
      lighter: design-system-color12-950 design-system-color12-100,
      lightest: design-system-color12-975 design-system-color12-75,
      main: design-system-color12-sun design-system-color12-moon,
    ),
    design-system-color13: (
      strong: design-system-color13-sun design-system-color13-moon,
      softest: design-system-color13-850 design-system-color13-200,
      light: design-system-color13-925 design-system-color13-125,
      lighter: design-system-color13-950 design-system-color13-100,
      lightest: design-system-color13-975 design-system-color13-75,
      main: design-system-color13-sun design-system-color13-moon,
    ),
    design-system-color14: (
      strong: design-system-color14-sun design-system-color14-moon,
      softest: design-system-color14-850 design-system-color14-200,
      light: design-system-color14-925 design-system-color14-125,
      lighter: design-system-color14-950 design-system-color14-100,
      lightest: design-system-color14-975 design-system-color14-75,
      main: design-system-color14-sun design-system-color14-moon,
    ),
    design-system-color15: (
      strong: design-system-color15-sun design-system-color15-moon,
      softest: design-system-color15-850 design-system-color15-200,
      light: design-system-color15-925 design-system-color15-125,
      lighter: design-system-color15-950 design-system-color15-100,
      lightest: design-system-color15-975 design-system-color15-75,
      main: design-system-color15-sun design-system-color15-moon,
    ),
    design-system-color16: (
      strong: design-system-color16-sun design-system-color16-moon,
      softest: design-system-color16-850 design-system-color16-200,
      light: design-system-color16-925 design-system-color16-125,
      lighter: design-system-color16-950 design-system-color16-100,
      lightest: design-system-color16-975 design-system-color16-75,
      main: design-system-color16-sun design-system-color16-moon,
    ),
    design-system-color17: (
      strong: design-system-color17-sun design-system-color17-moon,
      softest: design-system-color17-850 design-system-color17-200,
      light: design-system-color17-925 design-system-color17-125,
      lighter: design-system-color17-950 design-system-color17-100,
      lightest: design-system-color17-975 design-system-color17-75,
      main: design-system-color17-sun design-system-color17-moon,
    ),
    design-system-color18: (
      strong: design-system-color18-sun design-system-color18-moon,
      softest: design-system-color18-850 design-system-color18-200,
      light: design-system-color18-925 design-system-color18-125,
      lighter: design-system-color18-950 design-system-color18-100,
      lightest: design-system-color18-975 design-system-color18-75,
      main: design-system-color18-sun design-system-color18-moon,
    ),
    design-system-color19: (
      strong: design-system-color19-sun design-system-color19-moon,
      softest: design-system-color19-850 design-system-color19-200,
      light: design-system-color19-925 design-system-color19-125,
      lighter: design-system-color19-950 design-system-color19-100,
      lightest: design-system-color19-975 design-system-color19-75,
      main: design-system-color19-sun design-system-color19-moon,
    ),
  ),
);
