$values: (
  neutral: (
    grey: (
      absolute-black: grey-0 grey-1000,
      black: grey-50 grey-1000,
      darkest: grey-75 grey-975,
      darker: grey-100 grey-950,
      dark: grey-125 grey-925,
      strongest: grey-200 grey-850,
      strong: grey-425 grey-625,
      soft: grey-625 grey-425,
      softest: grey-850 grey-200,
      light: grey-925 grey-125,
      lighter: grey-950 grey-100,
      lightest: grey-975 grey-75,
      white: grey-1000 grey-50,
      border: grey-900 grey-175,
      raised: grey-1000 grey-75,
      overlap: grey-1000 grey-100,
      lifted: grey-1000 grey-75,
      alt-raised: grey-975 grey-100,
      alt-overlap: grey-975 grey-125,
      contrast-raised: grey-950 grey-125,
      contrast-overlap: grey-950 grey-150,
    ),
  ),
  primary: (
    blue-facile: (
      strong: blue-facile-sun blue-facile-625,
      softest: blue-facile-850 blue-facile-200,
      light: blue-facile-925 blue-facile-125,
      lighter: blue-facile-950 blue-facile-100,
      lightest: blue-facile-975 blue-facile-75,
      main: blue-facile-main blue-facile-main,
      inverted: blue-facile-975 blue-facile-sun,
    ),
    red-facile: (
      strong: red-facile-425 red-facile-625,
      softest: red-facile-850 red-facile-200,
      light: red-facile-925 red-facile-125,
      lighter: red-facile-950 red-facile-100,
      lightest: red-facile-975 red-facile-75,
      main: red-facile-main red-facile-main,
      inverted: red-facile-975 red-facile-75,
    ),
    // green-menthe: (
    //   strong: green-menthe-sun green-menthe-moon,
    //   softest: green-menthe-850 green-menthe-200,
    //   light: green-menthe-925 green-menthe-125,
    //   lighter: green-menthe-950 green-menthe-100,
    //   lightest: green-menthe-975 green-menthe-75,
    //   inverted: green-menthe-975 green-menthe-75,
    //   main: green-menthe-main green-menthe-main,
    // ),
    // purple-glycine: (
    //   strong: purple-glycine-sun purple-glycine-moon,
    //   softest: purple-glycine-850 purple-glycine-200,
    //   light: purple-glycine-925 purple-glycine-125,
    //   lighter: purple-glycine-950 purple-glycine-100,
    //   lightest: purple-glycine-975 purple-glycine-75,
    //   main: purple-glycine-main purple-glycine-main,
    //   inverted: purple-glycine-975 purple-glycine-75,
    // ),
  ),
  system: (
    info: (
      strong: info-425 info-625,
      softest: info-850 info-200,
      light: info-925 info-125,
      lighter: info-950 info-100,
      lightest: info-975 info-75,
      main: info-main info-main,
    ),
    success: (
      strong: success-425 success-625,
      softest: success-850 success-200,
      light: success-925 success-125,
      lighter: success-950 success-100,
      lightest: success-975 success-75,
      main: success-main success-main,
    ),
    warning: (
      strong: warning-425 warning-625,
      softest: warning-850 warning-200,
      light: warning-925 warning-125,
      lighter: warning-950 warning-100,
      lightest: warning-975 warning-75,
      main: warning-main warning-main,
    ),
    error: (
      strong: error-425 error-625,
      softest: error-850 error-200,
      light: error-925 error-125,
      lighter: error-950 error-100,
      lightest: error-975 error-75,
      main: error-main error-main,
    ),
  ),
  accent: (
    green-tilleul-verveine: (
      strong: green-tilleul-verveine-sun green-tilleul-verveine-moon,
      softest: green-tilleul-verveine-850 green-tilleul-verveine-200,
      light: green-tilleul-verveine-925 green-tilleul-verveine-125,
      lighter: green-tilleul-verveine-950 green-tilleul-verveine-100,
      lightest: green-tilleul-verveine-975 green-tilleul-verveine-75,
      main: green-tilleul-verveine-main green-tilleul-verveine-main,
    ),
    green-bourgeon: (
      strong: green-bourgeon-sun green-bourgeon-moon,
      softest: green-bourgeon-850 green-bourgeon-200,
      light: green-bourgeon-925 green-bourgeon-125,
      lighter: green-bourgeon-950 green-bourgeon-100,
      lightest: green-bourgeon-975 green-bourgeon-75,
      main: green-bourgeon-main green-bourgeon-main,
    ),
    green-emeraude: (
      strong: green-emeraude-sun green-emeraude-moon,
      softest: green-emeraude-850 green-emeraude-200,
      light: green-emeraude-925 green-emeraude-125,
      lighter: green-emeraude-950 green-emeraude-100,
      lightest: green-emeraude-975 green-emeraude-75,
      main: green-emeraude-main green-emeraude-main,
    ),
    green-menthe: (
      strong: green-menthe-sun green-menthe-moon,
      softest: green-menthe-850 green-menthe-200,
      light: green-menthe-925 green-menthe-125,
      lighter: green-menthe-950 green-menthe-100,
      lightest: green-menthe-975 green-menthe-75,
      main: green-menthe-main green-menthe-main,
    ),
    green-archipel: (
      strong: green-archipel-sun green-archipel-moon,
      softest: green-archipel-850 green-archipel-200,
      light: green-archipel-925 green-archipel-125,
      lighter: green-archipel-950 green-archipel-100,
      lightest: green-archipel-975 green-archipel-75,
      main: green-archipel-main green-archipel-main,
    ),
    blue-ecume: (
      strong: blue-ecume-sun blue-ecume-moon,
      softest: blue-ecume-850 blue-ecume-200,
      light: blue-ecume-925 blue-ecume-125,
      lighter: blue-ecume-950 blue-ecume-100,
      lightest: blue-ecume-975 blue-ecume-75,
      main: blue-ecume-main blue-ecume-main,
    ),
    blue-cumulus: (
      strong: blue-cumulus-sun blue-cumulus-moon,
      softest: blue-cumulus-850 blue-cumulus-200,
      light: blue-cumulus-925 blue-cumulus-125,
      lighter: blue-cumulus-950 blue-cumulus-100,
      lightest: blue-cumulus-975 blue-cumulus-75,
      main: blue-cumulus-main blue-cumulus-main,
    ),
    purple-glycine: (
      strong: purple-glycine-sun purple-glycine-moon,
      softest: purple-glycine-850 purple-glycine-200,
      light: purple-glycine-925 purple-glycine-125,
      lighter: purple-glycine-950 purple-glycine-100,
      lightest: purple-glycine-975 purple-glycine-75,
      main: purple-glycine-main purple-glycine-main,
    ),
    pink-macaron: (
      strong: pink-macaron-sun pink-macaron-moon,
      softest: pink-macaron-850 pink-macaron-200,
      light: pink-macaron-925 pink-macaron-125,
      lighter: pink-macaron-950 pink-macaron-100,
      lightest: pink-macaron-975 pink-macaron-75,
      main: pink-macaron-main pink-macaron-main,
    ),
    pink-tuile: (
      strong: pink-tuile-sun pink-tuile-moon,
      softest: pink-tuile-850 pink-tuile-200,
      light: pink-tuile-925 pink-tuile-125,
      lighter: pink-tuile-950 pink-tuile-100,
      lightest: pink-tuile-975 pink-tuile-75,
      main: pink-tuile-main pink-tuile-main,
    ),
    yellow-tournesol: (
      strong: yellow-tournesol-sun yellow-tournesol-moon,
      softest: yellow-tournesol-850 yellow-tournesol-200,
      light: yellow-tournesol-925 yellow-tournesol-125,
      lighter: yellow-tournesol-950 yellow-tournesol-100,
      lightest: yellow-tournesol-975 yellow-tournesol-75,
      main: yellow-tournesol-main yellow-tournesol-main,
    ),
    yellow-moutarde: (
      strong: yellow-moutarde-sun yellow-moutarde-moon,
      softest: yellow-moutarde-850 yellow-moutarde-200,
      light: yellow-moutarde-925 yellow-moutarde-125,
      lighter: yellow-moutarde-950 yellow-moutarde-100,
      lightest: yellow-moutarde-975 yellow-moutarde-75,
      main: yellow-moutarde-main yellow-moutarde-main,
    ),
    orange-terre-battue: (
      strong: orange-terre-battue-sun orange-terre-battue-moon,
      softest: orange-terre-battue-850 orange-terre-battue-200,
      light: orange-terre-battue-925 orange-terre-battue-125,
      lighter: orange-terre-battue-950 orange-terre-battue-100,
      lightest: orange-terre-battue-975 orange-terre-battue-75,
      main: orange-terre-battue-main orange-terre-battue-main,
    ),
    brown-cafe-creme: (
      strong: brown-cafe-creme-sun brown-cafe-creme-moon,
      softest: brown-cafe-creme-850 brown-cafe-creme-200,
      light: brown-cafe-creme-925 brown-cafe-creme-125,
      lighter: brown-cafe-creme-950 brown-cafe-creme-100,
      lightest: brown-cafe-creme-975 brown-cafe-creme-75,
      main: brown-cafe-creme-main brown-cafe-creme-main,
    ),
    brown-caramel: (
      strong: brown-caramel-sun brown-caramel-moon,
      softest: brown-caramel-850 brown-caramel-200,
      light: brown-caramel-925 brown-caramel-125,
      lighter: brown-caramel-950 brown-caramel-100,
      lightest: brown-caramel-975 brown-caramel-75,
      main: brown-caramel-main brown-caramel-main,
    ),
    brown-opera: (
      strong: brown-opera-sun brown-opera-moon,
      softest: brown-opera-850 brown-opera-200,
      light: brown-opera-925 brown-opera-125,
      lighter: brown-opera-950 brown-opera-100,
      lightest: brown-opera-975 brown-opera-75,
      main: brown-opera-main brown-opera-main,
    ),
    beige-gris-galet: (
      strong: beige-gris-galet-sun beige-gris-galet-moon,
      softest: beige-gris-galet-850 beige-gris-galet-200,
      light: beige-gris-galet-925 beige-gris-galet-125,
      lighter: beige-gris-galet-950 beige-gris-galet-100,
      lightest: beige-gris-galet-975 beige-gris-galet-75,
      main: beige-gris-galet-main beige-gris-galet-main,
    ),
    // blue-facile: (
    //   strong: blue-facile-sun blue-facile-625,
    //   softest: blue-facile-850 blue-facile-200,
    //   light: blue-facile-925 blue-facile-125,
    //   lighter: blue-facile-950 blue-facile-100,
    //   lightest: blue-facile-975 blue-facile-75,
    //   main: blue-facile-main blue-facile-main,
    //   inverted: blue-facile-975 blue-facile-sun,
    // ),
    // red-facile: (
    //   strong: red-facile-425 red-facile-625,
    //   softest: red-facile-850 red-facile-200,
    //   light: red-facile-925 red-facile-125,
    //   lighter: red-facile-950 red-facile-100,
    //   lightest: red-facile-975 red-facile-75,
    //   main: red-facile-main red-facile-main,
    //   inverted: red-facile-975 red-facile-75,
    // ),
  ),
);
