$values: (
  neutral: (
    grey: (
      absolute-black: grey-0 grey-1000,
      black: grey-50 grey-1000,
      darkest: grey-75 grey-975,
      darker: grey-100 grey-950,
      dark: grey-125 grey-925,
      strongest: grey-200 grey-850,
      strong: grey-425 grey-625,
      soft: grey-625 grey-425,
      softest: grey-850 grey-200,
      light: grey-925 grey-125,
      lighter: grey-950 grey-100,
      lightest: grey-975 grey-75,
      white: grey-1000 grey-50,
      border: grey-900 grey-175,
      raised: grey-1000 grey-75,
      overlap: grey-1000 grey-100,
      lifted: grey-1000 grey-75,
      alt-raised: grey-975 grey-100,
      alt-overlap: grey-975 grey-125,
      contrast-raised: grey-950 grey-125,
      contrast-overlap: grey-950 grey-150,
    ),
  ),
  primary: (
    fastoche-primary: (
      strong: fastoche-primary-sun fastoche-primary-625,
      softest: fastoche-primary-850 fastoche-primary-200,
      light: fastoche-primary-925 fastoche-primary-125,
      lighter: fastoche-primary-950 fastoche-primary-100,
      lightest: fastoche-primary-975 fastoche-primary-75,
      main: fastoche-primary-main fastoche-primary-main,
      inverted: fastoche-primary-975 fastoche-primary-sun,
    ),
    fastoche-secondary: (
      strong: fastoche-secondary-sun fastoche-secondary-625,
      softest: fastoche-secondary-850 fastoche-secondary-200,
      light: fastoche-secondary-925 fastoche-secondary-125,
      lighter: fastoche-secondary-950 fastoche-secondary-100,
      lightest: fastoche-secondary-975 fastoche-secondary-75,
      main: fastoche-secondary-main fastoche-secondary-main,
      inverted: fastoche-secondary-975 fastoche-secondary-sun,
    ),
  ),
  system: (
    info: (
      strong: info-425 info-625,
      softest: info-850 info-200,
      light: info-925 info-125,
      lighter: info-950 info-100,
      lightest: info-975 info-75,
      main: info-main info-main,
    ),
    success: (
      strong: success-425 success-625,
      softest: success-850 success-200,
      light: success-925 success-125,
      lighter: success-950 success-100,
      lightest: success-975 success-75,
      main: success-main success-main,
    ),
    warning: (
      strong: warning-425 warning-625,
      softest: warning-850 warning-200,
      light: warning-925 warning-125,
      lighter: warning-950 warning-100,
      lightest: warning-975 warning-75,
      main: warning-main warning-main,
    ),
    error: (
      strong: error-425 error-625,
      softest: error-850 error-200,
      light: error-925 error-125,
      lighter: error-950 error-100,
      lightest: error-975 error-75,
      main: error-main error-main,
    ),
  ),
  accent: (
   fastoche-color3: (
      strong:fastoche-color3-sun fastoche-color3-moon,
      softest:fastoche-color3-850 fastoche-color3-200,
      light:fastoche-color3-925 fastoche-color3-125,
      lighter:fastoche-color3-950 fastoche-color3-100,
      lightest:fastoche-color3-975 fastoche-color3-75,
      main:fastoche-color3-sun fastoche-color3-moon,
    ),
    fastoche-color4: (
      strong: fastoche-color4-sun fastoche-color4-moon,
      softest: fastoche-color4-850 fastoche-color4-200,
      light: fastoche-color4-925 fastoche-color4-125,
      lighter: fastoche-color4-950 fastoche-color4-100,
      lightest: fastoche-color4-975 fastoche-color4-75,
      main: fastoche-color4-sun fastoche-color4-moon,
    ),
    fastoche-color5: (
      strong: fastoche-color5-sun fastoche-color5-moon,
      softest: fastoche-color5-850 fastoche-color5-200,
      light: fastoche-color5-925 fastoche-color5-125,
      lighter: fastoche-color5-950 fastoche-color5-100,
      lightest: fastoche-color5-975 fastoche-color5-75,
      main: fastoche-color5-sun fastoche-color5-moon,
    ),
    fastoche-color6: (
      strong: fastoche-color6-sun fastoche-color6-moon,
      softest: fastoche-color6-850 fastoche-color6-200,
      light: fastoche-color6-925 fastoche-color6-125,
      lighter: fastoche-color6-950 fastoche-color6-100,
      lightest: fastoche-color6-975 fastoche-color6-75,
      main: fastoche-color6-sun fastoche-color6-moon,
    ),
    fastoche-color7: (
      strong: fastoche-color7-sun fastoche-color7-moon,
      softest: fastoche-color7-850 fastoche-color7-200,
      light: fastoche-color7-925 fastoche-color7-125,
      lighter: fastoche-color7-950 fastoche-color7-100,
      lightest: fastoche-color7-975 fastoche-color7-75,
      main: fastoche-color7-sun fastoche-color7-moon,
    ),
    fastoche-color8: (
      strong: fastoche-color8-sun fastoche-color8-moon,
      softest: fastoche-color8-850 fastoche-color8-200,
      light: fastoche-color8-925 fastoche-color8-125,
      lighter: fastoche-color8-950 fastoche-color8-100,
      lightest: fastoche-color8-975 fastoche-color8-75,
      main: fastoche-color8-sun fastoche-color8-moon,
    ),
    fastoche-color9: (
      strong: fastoche-color9-sun fastoche-color9-moon,
      softest: fastoche-color9-850 fastoche-color9-200,
      light: fastoche-color9-925 fastoche-color9-125,
      lighter: fastoche-color9-950 fastoche-color9-100,
      lightest: fastoche-color9-975 fastoche-color9-75,
      main: fastoche-color9-sun fastoche-color9-moon,
    ),
    fastoche-color10: (
      strong: fastoche-color10-sun fastoche-color10-moon,
      softest: fastoche-color10-850 fastoche-color10-200,
      light: fastoche-color10-925 fastoche-color10-125,
      lighter: fastoche-color10-950 fastoche-color10-100,
      lightest: fastoche-color10-975 fastoche-color10-75,
      main: fastoche-color10-sun fastoche-color10-moon,
    ),
    fastoche-color11: (
      strong: fastoche-color11-sun fastoche-color11-moon,
      softest: fastoche-color11-850 fastoche-color11-200,
      light: fastoche-color11-925 fastoche-color11-125,
      lighter: fastoche-color11-950 fastoche-color11-100,
      lightest: fastoche-color11-975 fastoche-color11-75,
      main: fastoche-color11-sun fastoche-color11-moon,
    ),
    fastoche-color12: (
      strong: fastoche-color12-sun fastoche-color12-moon,
      softest: fastoche-color12-850 fastoche-color12-200,
      light: fastoche-color12-925 fastoche-color12-125,
      lighter: fastoche-color12-950 fastoche-color12-100,
      lightest: fastoche-color12-975 fastoche-color12-75,
      main: fastoche-color12-sun fastoche-color12-moon,
    ),
    fastoche-color13: (
      strong: fastoche-color13-sun fastoche-color13-moon,
      softest: fastoche-color13-850 fastoche-color13-200,
      light: fastoche-color13-925 fastoche-color13-125,
      lighter: fastoche-color13-950 fastoche-color13-100,
      lightest: fastoche-color13-975 fastoche-color13-75,
      main: fastoche-color13-sun fastoche-color13-moon,
    ),
    fastoche-color14: (
      strong: fastoche-color14-sun fastoche-color14-moon,
      softest: fastoche-color14-850 fastoche-color14-200,
      light: fastoche-color14-925 fastoche-color14-125,
      lighter: fastoche-color14-950 fastoche-color14-100,
      lightest: fastoche-color14-975 fastoche-color14-75,
      main: fastoche-color14-sun fastoche-color14-moon,
    ),
    fastoche-color15: (
      strong: fastoche-color15-sun fastoche-color15-moon,
      softest: fastoche-color15-850 fastoche-color15-200,
      light: fastoche-color15-925 fastoche-color15-125,
      lighter: fastoche-color15-950 fastoche-color15-100,
      lightest: fastoche-color15-975 fastoche-color15-75,
      main: fastoche-color15-sun fastoche-color15-moon,
    ),
    fastoche-color16: (
      strong: fastoche-color16-sun fastoche-color16-moon,
      softest: fastoche-color16-850 fastoche-color16-200,
      light: fastoche-color16-925 fastoche-color16-125,
      lighter: fastoche-color16-950 fastoche-color16-100,
      lightest: fastoche-color16-975 fastoche-color16-75,
      main: fastoche-color16-sun fastoche-color16-moon,
    ),
    fastoche-color17: (
      strong: fastoche-color17-sun fastoche-color17-moon,
      softest: fastoche-color17-850 fastoche-color17-200,
      light: fastoche-color17-925 fastoche-color17-125,
      lighter: fastoche-color17-950 fastoche-color17-100,
      lightest: fastoche-color17-975 fastoche-color17-75,
      main: fastoche-color17-sun fastoche-color17-moon,
    ),
    fastoche-color18: (
      strong: fastoche-color18-sun fastoche-color18-moon,
      softest: fastoche-color18-850 fastoche-color18-200,
      light: fastoche-color18-925 fastoche-color18-125,
      lighter: fastoche-color18-950 fastoche-color18-100,
      lightest: fastoche-color18-975 fastoche-color18-75,
      main: fastoche-color18-sun fastoche-color18-moon,
    ),
    fastoche-color19: (
      strong: fastoche-color19-sun fastoche-color19-moon,
      softest: fastoche-color19-850 fastoche-color19-200,
      light: fastoche-color19-925 fastoche-color19-125,
      lighter: fastoche-color19-950 fastoche-color19-100,
      lightest: fastoche-color19-975 fastoche-color19-75,
      main: fastoche-color19-sun fastoche-color19-moon,
    ),
  ),
);
