////
/// header Scheme
/// @group header
////

@use 'module/color';
@use 'module/elevation';
@use 'module/media-query';

@mixin _header-scheme($legacy: false) {
  #{ns(header)} {
    &__brand {
      @include elevation.elevate(raised-over, (legacy: $legacy));
    }

    &__service {
      text-align: left; /* chris2fr */
      @include color.text(title grey, (legacy:$legacy));
      @include color.box-shadow(default grey, (legacy:$legacy), top-1-in);
    }

    @include media-query.respond-from(lg) {
      @include elevation.elevate(raised-over, (legacy: $legacy));

      &__brand {
        @include elevation.drop((legacy:$legacy));
      }

      &__service {
        @include color.no-box-shadow((legacy:$legacy));
      }
    }

    &__menu-links {
      @include after {
        @include color.box-shadow(default grey, (legacy:$legacy), top-1-in);
      }

      #{ns(btn)} {
        @include btn-kind-scheme(4, $legacy);
        @include color.no-box-shadow((legacy: $legacy));
      }
    }

    &__tools-links {
      #{ns(btn)} {
        @include btn-kind-scheme(4, $legacy);
      }

      > #{ns(translate)}:first-child:last-child {
        #{ns(btn)} {
          @include btn-kind-scheme(3, $legacy);
        }
      }
    }

    &__navbar {
      #{ns(service)} {
        @include title {
          @include color.text(title grey, (legacy:$legacy));
        }
      }

      #{ns(btn)} {
        @include btn-kind-scheme(4, $legacy);

        &--menu {
          @include btn-kind-scheme(3, $legacy);
        }
      }
    }

    #{ns(header__menu)} {
      #{ns(container)} {
        display: grid; /* chris2fr */
        grid-template-columns: 1fr;
        grid-template-areas: "l" "h" "m" "t";
        @include respond-from(lg) {
          grid-template-columns: auto 1fr;
          grid-template-rows: auto;
          grid-template-areas: "l m" "h h";
        }
      }
      @include respond-from(lg) {
        @include color.box-shadow(default grey, (legacy:$legacy), top-1-in);
      }
    }

    &__menu-logo {
      grid-area: l;
    }

    #{ns(modal)} {
      @include color.background(lifted grey, (legacy:$legacy));
    }
  }
}
