////
/// Pagination Scheme
/// @group pagination
////

@use 'module/color';
@use 'module/disabled';
@use 'module/selector';

@mixin _pagination-scheme($legacy: false) {
  #{ns(pagination)} {
    @include color.text(action-high grey, (legacy: $legacy));

    &__link {
      @include selector.current {
        @include color.background(active sifacile-primary, (legacy: $legacy, hover: true));
        @include color.text(inverted sifacile-primary, (legacy: $legacy));
      }

      @include selector.not-current {
        @include disabled.selector((can-be-link: true), (legacy: $legacy, text: true,));
      }
    }
  }
}
