@use "sass:map";
@use "../../selector/function/namespace";
@use "../../spacing/tool/position";
@use "../../spacing/tool/size";
@use "../setting";
@use "../tool";

////
/// Core Module : Media - responsive img/vid
/// @group core
////

@if (map.get(setting.$media-settings, responsive)) {
  #{namespace.ns(responsive-img)} {
    @include size.size(100%, auto);
  }

  #{namespace.ns(responsive-vid)} {
    @include position.relative;
    @include size.size(100%);
    @include tool.aspect-ratio();
    display: block;

    &__player {
      @include size.size(100%, 100%);
      display: block;
      border: 0;
    }

    & > #{namespace.ns(consent-placeholder)} {
      @include tool.media-overlay-cover;
    }
  }
}
