////
/// Server Standalone Scheme
/// @group server
////

@use 'module/color';

body {
  @include color.background(alt cfran-primary, (standalone: true));
}

a {
  outline-color: color.$focus;
}

#{ns(btn)} {
  &--tertiary {
    @include color.background(alt grey, (standalone: true, hover: true));
    @include color.box-shadow(default grey, (standalone: true), all-1-in);
    @include color.text(action-high cfran-primary, (standalone: true));
  }

  svg {
    @include color.fill(text action-high cfran-primary, (standalone: true));
  }
}
