////
/// Core Setting : Typography font-face
/// @group core
////
/// 
///

$font-settings: (
  primary: (
    name: 'fengardoneue',
    fallback: arial sans-serif,
    display: swap,
    styles: (
      regular: (
        font-weight: 400,
        file: 'fengardoneue_regular-webfont'
      ),
      bold: (
        font-weight: 700,
        file: 'fengardoneue_black-webfont'
      )
    )
  ),
  alt: (
    name: 'Spectral',
    fallback: georgia serif,
    display: swap,
    styles: (
      regular: (
        font-weight: 400,
        file: 'lack-regular'
      ),
      italic: (
        font-weight: 600,
        file: 'lack-italic-webfont'
      )
    ),
  )
);
