////
/// Core Setting : Typography font-face
/// @group core
////
/// 
///

$font-settings: (
  primary: (
    name: 'fengardoneue',
    fallback: arial sans-serif,
    display: swap,
    styles: (
      regular: (
        font-weight: 400,
        file: 'fengardoneue-Regular'
      ),
      bold: (
        font-weight: 700,
        file: 'fengardoneue-Bold'
      )
    )
  ),
  alt: (
    name: 'lack',
    fallback: georgia serif,
    display: swap,
    styles: (
      regular: (
        font-weight: 400,
        file: 'lack-Regular'
      ),
      italic: (
        font-weight: 600,
        file: 'lack-Italic'
      )
    )
  )
);