@use "sass:list";
@use "sass:string";
@use "../../../../../../.config/config";
@use "../function/namespace";
@use "../function/pattern" as function-pattern;
@use "pattern" as tool-pattern;

////
/// Core Tool : Selector icon
/// @group core
////

$icon-prefixes: icon- fi-;

@mixin has-icon() {
  $start: ();
  @each $prefix in $icon-prefixes {
    $list: function-pattern.class-start-with(namespace.ns(config.$prefix, ''));
    @each $item in $list {
      $start: list.append($start, $item, 'comma');
    }
  }

  @include tool-pattern.class-pattern($start) {
    @content;
  }
}

@mixin has-not-icon() {
  $start: '';
  @each $prefix in $icon-prefixes {
    $start: '#{$start}#{function-pattern.class-not-start-with(namespace.ns(config.$prefix, ''))}';
  }

  @include tool-pattern.class-pattern(string.unquote($start)) {
    @content;
  }
}
