@use "../../selector/tool/pseudo";
@use "../../spacing/tool/size";
@use "../../spacing/tool/space";
@use "../../tool/utility";
@use "../../typography/tool/font-weight";
@use "../../typography/tool/styles";
@use "../tool/display";
@use "../tool/hr";

////
/// Core Module : Display hr
/// @group core
////

// TODO: inclure le reset dans les variables
hr {
  @include hr.build-hr();
}

@include utility.build-utility (display, hr) {
  @include hr.build-hr();

  &--sm {
    @include size.width(40v);
    @include space.margin-x(auto);
  }

  &-or {
    @include styles.text-style(sm);
    text-transform: uppercase;
    @include font-weight.font-weight(bold);
    @include display.display-flex(row, center, center, nowrap, inline);
    @include pseudo.pseudo(before after, '', inline-flex) {
      height: 1px;
      width: 100%;
    }
    @include pseudo.before {
      @include space.margin-right(3v);
    }
    @include pseudo.after {
      @include space.margin-left(3v);
    }
  }
}
