<div class="village-container">
  <div id="react-container">

  </div>
</div>


<script src='https://unpkg.com/react@16.3.1/umd/react.production.min.js'></script>
<script src='https://unpkg.com/react-dom@16.3.1/umd/react-dom.production.min.js'></script>
<script src='https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.min.js'></script>
<script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>


<script type='text/babel'>
  const Link = ReactRouterDOM.Link,
  Route = ReactRouterDOM.Route,
  BrowserRouter = ReactRouterDOM.BrowserRouter;

  const App = props => (
    <div>
      <header role="banner" class="village-header" id="header-120">
        <div class="village-header__body">
            <div class="village-container">
                <div class="village-header__body-row">
                    <div class="village-header__brand village-enlarge-link">
                        <div class="village-header__brand-top">
                            <div class="village-header__logo">
                                <p class="village-logo">
                                    République <br/>
                                    Française
                                </p>
                            </div>
                            <div class="village-header__navbar">
                                <button class="village-btn--search village-btn" data-village-opened="false" aria-controls="modal-122" id="button-123" title="Rechercher" >
                                    Rechercher
                                </button>
                                <button class="village-btn--menu village-btn" data-village-opened="false" aria-controls="modal-124" id="button-125" title="Menu">
                                    Menu
                                </button>
                            </div>
                        </div>
                        <div class="village-header__service">
                            <a href="/" title="Accueil - [À MODIFIER - Nom du site / service] - [À MODIFIER - texte alternatif de l’image : nom de l'opérateur ou du site serviciel] - République Française">
                                <p class="village-header__service-title">
                                    Nom du site / service
                                </p>
                            </a>
                            <p class="village-header__service-tagline">baseline - précisions sur l‘organisation</p>
                        </div>
                    </div>
                    <div class="village-header__tools">
                        <div class="village-header__tools-links">
                            <ul class="village-btns-group">
                                <li>
                                  <Link id="to-home-1" class="village-btn" to="/example/analytics/spa/react/">HOME</Link>
                                </li>
                            </ul>
                        </div>
                        <div class="village-header__search village-modal" id="modal-122">
                            <div class="village-container village-container-lg--fluid">
                                <button class="village-btn--close village-btn" aria-controls="modal-122" id="button-130" title="Fermer">
                                    Fermer
                                </button>
                                <div class="village-search-bar" id="search-121" role="search">
                                    <label class="village-label" for="search-121-input">
                                        Rechercher
                                    </label>
                                    <input class="village-input" aria-describedby="search-121-input-messages" placeholder="Rechercher" id="search-121-input" type="search"/>
                                    <div class="village-messages-group" id="search-121-input-messages" aria-live="polite">
                                    </div>
                                    <button class="village-btn" id="search-btn-132" title="Rechercher">
                                        Rechercher
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="village-header__menu village-modal" id="modal-124">
          <div class="village-container">
            <button class="village-btn--close village-btn" aria-controls="modal-2414" id="button-2419" title="Fermer">
                Fermer
            </button>
            <div class="village-header__menu-links">
                <ul class="village-btns-group">
                </ul>
            </div>
            <nav class="village-nav" id="navigation-134" role="navigation" aria-label="Menu principal">
              <ul class="village-nav__list">
                <li class="village-nav__item"><Link id="to-home-2" class="village-nav__link" to="/example/analytics/spa/react/">HOME</Link></li>
                <li class="village-nav__item"><Link id="to-link-2" class="village-nav__link" to="/example/analytics/spa/react/link">Link</Link></li>
                <li class="village-nav__item"><Link id="to-button-2" class="village-nav__link" to="/example/analytics/spa/react/button">Button</Link></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>

      <div class="village-container village-mt-8v">
        <Route path="/example/analytics/spa/react/" exact component={Home} />
        <Route path="/example/analytics/spa/react/link" component={Links} />
        <Route path="/example/analytics/spa/react/button" component={Button} />
      </div>
    </div>
  )

  const Home = props => <div><h2>HOME</h2><p>lorem ipsum dolor sit amet</p></div>
  const Links = props => <div><h2>LINK</h2><a href="#" data-village-analytics-click="libellé du lien envoyé à l'analytics" id="link-attr-click">test</a></div>
  const Button = props => <div><h2>BUTTON</h2><button id="btn-3" class="<%= prefix %>-btn">Button</button></div>

  ReactDOM.render(<ReactRouterDOM.BrowserRouter><App /></ReactRouterDOM.BrowserRouter>, document.querySelector('#react-container'));


</script>