@use "../../../../../../.config/icon";
@use "../../selector/function/namespace";
@use "../../spacing/tool/size";
@use "default";

////
/// Core Tool : Icon legacy
/// @group core
////

@mixin icon-size-legacy($size:md, $restrain: null) {
  @include default.icon-pseudo($restrain) {
    $size: default.icon-size($size);
    @include size.size($size, $size);
    @content;
  }
}

@mixin icon-image-legacy($icon, $restrain: null, $important: false) {
  $url: default.get-icon-url($icon, $important);
  @include default.icon-pseudo($restrain) {
    background-image: $url;
  }
}

@mixin icon-style-legacy($restrain: null) {
  @include default.icon-pseudo($restrain) {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    @content;
  }
}

@mixin icon-legacy($icon: null, $size: md, $restrain: null, $styling: true) {
  @if $styling {
    @include icon-style-legacy($restrain);
  }

  @if $icon != null {
    @include icon-image-legacy($icon, $restrain);
  }

  @if $size != null {
    @include icon-size-legacy($size, $restrain);
  }

  @include default.icon-pseudo($restrain) {
    @content;
  }
}

@mixin generate-icons-legacy($config: icon.$icons-config) {
  @each $icon, $setting in $config {
    #{namespace.ns(icon-#{$icon})} {
      @include icon-image-legacy($icon);
    }
  }
}
