$values: (
  neutral: (
    grey: (
      absolute-black: grey-0 grey-1000,
      black: grey-50 grey-1000,
      darkest: grey-75 grey-975,
      darker: grey-100 grey-950,
      dark: grey-125 grey-925,
      strongest: grey-200 grey-850,
      strong: grey-425 grey-625,
      soft: grey-625 grey-425,
      softest: grey-850 grey-200,
      light: grey-925 grey-125,
      lighter: grey-950 grey-100,
      lightest: grey-975 grey-75,
      white: grey-1000 grey-50,
      border: grey-900 grey-175,
      raised: grey-1000 grey-75,
      overlap: grey-1000 grey-100,
      lifted: grey-1000 grey-75,
      alt-raised: grey-975 grey-100,
      alt-overlap: grey-975 grey-125,
      contrast-raised: grey-950 grey-125,
      contrast-overlap: grey-950 grey-150,
    ),
  ),
  primary: (
    designsystem-primary: (
      strong: designsystem-primary-sun designsystem-primary-moon,
      softest: designsystem-primary-850 designsystem-primary-200,
      light: designsystem-primary-925 designsystem-primary-125,
      lighter: designsystem-primary-950 designsystem-primary-100,
      lightest: designsystem-primary-975 designsystem-primary-75,
      main: designsystem-primary-main designsystem-primary-main,
      inverted: designsystem-primary-975 designsystem-primary-75,
    ),
    designsystem-secondary: (
      strong: designsystem-secondary-sun designsystem-secondary-moon,
      softest: designsystem-secondary-850 designsystem-secondary-200,
      light: designsystem-secondary-925 designsystem-secondary-125,
      lighter: designsystem-secondary-950 designsystem-secondary-100,
      lightest: designsystem-secondary-975 designsystem-secondary-75,
      main: designsystem-secondary-main designsystem-secondary-main,
      inverted: designsystem-secondary-975 designsystem-secondary-75,
    ),
  ),
  system: (
    info: (
      strong: info-425 info-625,
      softest: info-850 info-200,
      light: info-925 info-125,
      lighter: info-950 info-100,
      lightest: info-975 info-75,
      main: info-main info-main,
    ),
    success: (
      strong: success-425 success-625,
      softest: success-850 success-200,
      light: success-925 success-125,
      lighter: success-950 success-100,
      lightest: success-975 success-75,
      main: success-main success-main,
    ),
    warning: (
      strong: warning-425 warning-625,
      softest: warning-850 warning-200,
      light: warning-925 warning-125,
      lighter: warning-950 warning-100,
      lightest: warning-975 warning-75,
      main: warning-main warning-main,
    ),
    error: (
      strong: error-425 error-625,
      softest: error-850 error-200,
      light: error-925 error-125,
      lighter: error-950 error-100,
      lightest: error-975 error-75,
      main: error-main error-main,
    ),
  ),
  accent: (
    designsystem-color3: (
      strong:designsystem-color3-sun designsystem-color3-moon,
      softest:designsystem-color3-850 designsystem-color3-200,
      light:designsystem-color3-925 designsystem-color3-125,
      lighter:designsystem-color3-950 designsystem-color3-100,
      lightest:designsystem-color3-975 designsystem-color3-75,
      main:designsystem-color3-sun designsystem-color3-moon,
    ),
    designsystem-color4: (
      strong: designsystem-color4-sun designsystem-color4-moon,
      softest: designsystem-color4-850 designsystem-color4-200,
      light: designsystem-color4-925 designsystem-color4-125,
      lighter: designsystem-color4-950 designsystem-color4-100,
      lightest: designsystem-color4-975 designsystem-color4-75,
      main: designsystem-color4-sun designsystem-color4-moon,
    ),
    designsystem-color5: (
      strong: designsystem-color5-sun designsystem-color5-moon,
      softest: designsystem-color5-850 designsystem-color5-200,
      light: designsystem-color5-925 designsystem-color5-125,
      lighter: designsystem-color5-950 designsystem-color5-100,
      lightest: designsystem-color5-975 designsystem-color5-75,
      main: designsystem-color5-sun designsystem-color5-moon,
    ),
    designsystem-color6: (
      strong: designsystem-color6-sun designsystem-color6-moon,
      softest: designsystem-color6-850 designsystem-color6-200,
      light: designsystem-color6-925 designsystem-color6-125,
      lighter: designsystem-color6-950 designsystem-color6-100,
      lightest: designsystem-color6-975 designsystem-color6-75,
      main: designsystem-color6-sun designsystem-color6-moon,
    ),
    designsystem-color7: (
      strong: designsystem-color7-sun designsystem-color7-moon,
      softest: designsystem-color7-850 designsystem-color7-200,
      light: designsystem-color7-925 designsystem-color7-125,
      lighter: designsystem-color7-950 designsystem-color7-100,
      lightest: designsystem-color7-975 designsystem-color7-75,
      main: designsystem-color7-sun designsystem-color7-moon,
    ),
    designsystem-color8: (
      strong: designsystem-color8-sun designsystem-color8-moon,
      softest: designsystem-color8-850 designsystem-color8-200,
      light: designsystem-color8-925 designsystem-color8-125,
      lighter: designsystem-color8-950 designsystem-color8-100,
      lightest: designsystem-color8-975 designsystem-color8-75,
      main: designsystem-color8-sun designsystem-color8-moon,
    ),
    designsystem-color9: (
      strong: designsystem-color9-sun designsystem-color9-moon,
      softest: designsystem-color9-850 designsystem-color9-200,
      light: designsystem-color9-925 designsystem-color9-125,
      lighter: designsystem-color9-950 designsystem-color9-100,
      lightest: designsystem-color9-975 designsystem-color9-75,
      main: designsystem-color9-sun designsystem-color9-moon,
    ),
    designsystem-color10: (
      strong: designsystem-color10-sun designsystem-color10-moon,
      softest: designsystem-color10-850 designsystem-color10-200,
      light: designsystem-color10-925 designsystem-color10-125,
      lighter: designsystem-color10-950 designsystem-color10-100,
      lightest: designsystem-color10-975 designsystem-color10-75,
      main: designsystem-color10-sun designsystem-color10-moon,
    ),
    designsystem-color11: (
      strong: designsystem-color11-sun designsystem-color11-moon,
      softest: designsystem-color11-850 designsystem-color11-200,
      light: designsystem-color11-925 designsystem-color11-125,
      lighter: designsystem-color11-950 designsystem-color11-100,
      lightest: designsystem-color11-975 designsystem-color11-75,
      main: designsystem-color11-sun designsystem-color11-moon,
    ),
    designsystem-color12: (
      strong: designsystem-color12-sun designsystem-color12-moon,
      softest: designsystem-color12-850 designsystem-color12-200,
      light: designsystem-color12-925 designsystem-color12-125,
      lighter: designsystem-color12-950 designsystem-color12-100,
      lightest: designsystem-color12-975 designsystem-color12-75,
      main: designsystem-color12-sun designsystem-color12-moon,
    ),
    designsystem-color13: (
      strong: designsystem-color13-sun designsystem-color13-moon,
      softest: designsystem-color13-850 designsystem-color13-200,
      light: designsystem-color13-925 designsystem-color13-125,
      lighter: designsystem-color13-950 designsystem-color13-100,
      lightest: designsystem-color13-975 designsystem-color13-75,
      main: designsystem-color13-sun designsystem-color13-moon,
    ),
    designsystem-color14: (
      strong: designsystem-color14-sun designsystem-color14-moon,
      softest: designsystem-color14-850 designsystem-color14-200,
      light: designsystem-color14-925 designsystem-color14-125,
      lighter: designsystem-color14-950 designsystem-color14-100,
      lightest: designsystem-color14-975 designsystem-color14-75,
      main: designsystem-color14-sun designsystem-color14-moon,
    ),
    designsystem-color15: (
      strong: designsystem-color15-sun designsystem-color15-moon,
      softest: designsystem-color15-850 designsystem-color15-200,
      light: designsystem-color15-925 designsystem-color15-125,
      lighter: designsystem-color15-950 designsystem-color15-100,
      lightest: designsystem-color15-975 designsystem-color15-75,
      main: designsystem-color15-sun designsystem-color15-moon,
    ),
    designsystem-color16: (
      strong: designsystem-color16-sun designsystem-color16-moon,
      softest: designsystem-color16-850 designsystem-color16-200,
      light: designsystem-color16-925 designsystem-color16-125,
      lighter: designsystem-color16-950 designsystem-color16-100,
      lightest: designsystem-color16-975 designsystem-color16-75,
      main: designsystem-color16-sun designsystem-color16-moon,
    ),
    designsystem-color17: (
      strong: designsystem-color17-sun designsystem-color17-moon,
      softest: designsystem-color17-850 designsystem-color17-200,
      light: designsystem-color17-925 designsystem-color17-125,
      lighter: designsystem-color17-950 designsystem-color17-100,
      lightest: designsystem-color17-975 designsystem-color17-75,
      main: designsystem-color17-sun designsystem-color17-moon,
    ),
    designsystem-color18: (
      strong: designsystem-color18-sun designsystem-color18-moon,
      softest: designsystem-color18-850 designsystem-color18-200,
      light: designsystem-color18-925 designsystem-color18-125,
      lighter: designsystem-color18-950 designsystem-color18-100,
      lightest: designsystem-color18-975 designsystem-color18-75,
      main: designsystem-color18-sun designsystem-color18-moon,
    ),
    designsystem-color19: (
      strong: designsystem-color19-sun designsystem-color19-moon,
      softest: designsystem-color19-850 designsystem-color19-200,
      light: designsystem-color19-925 designsystem-color19-125,
      lighter: designsystem-color19-950 designsystem-color19-100,
      lightest: designsystem-color19-975 designsystem-color19-75,
      main: designsystem-color19-sun designsystem-color19-moon,
    ),
  ),
);
