@use "../../display/tool/display";
@use "../../selector/function/namespace";
@use "../../spacing/tool/space";

////
/// Core Module : Grid row
/// @group core
////

#{namespace.ns(grid-row)} {
  @include display.display-flex(null, null, null, wrap);
  @include space.margin(0);
  @include space.padding(0);

  // Vertical alignment
  &--top {
    align-items: flex-start;
  }

  &--bottom {
    align-items: flex-end;
  }

  &--middle {
    align-items: center;
  }

  // Horizontal alignment
  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--center {
    justify-content: center;
  }
}
