@use "../../selector/function/namespace";
@use "../../selector/setting/breakpoint" as setting-breakpoint;
@use "../../selector/tool/breakpoint" as tool-breakpoint;
@use "../../spacing/tool/position";
@use "../../spacing/tool/size";
@use "../../spacing/tool/space";

////
/// Core Tool : Display sr-only
/// @group core
////

@mixin sr-only() {
  @include position.absolute;
  @include size.size(1px, 1px);
  @include space.padding(0);
  @include space.margin(-1px);
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
  display: block;
}

@mixin sr-only-from() {
  @each $bp, $limits in setting-breakpoint.$breakpoints {
    @if $bp != xs {
      #{namespace.ns('sr-only-' + $bp)} {
        @include tool-breakpoint.respond-from($bp) {
          @include sr-only();
        }
      }
    }
  }
}

@mixin sr-only-to() {
  @each $bp, $limits in setting-breakpoint.$breakpoints {
    @if $bp != xs {
      #{namespace.ns('sr-only-to-' + $bp)} {
        @include tool-breakpoint.respond-to($bp) {
          @include sr-only();
        }
      }
    }
  }
}
